<div
	class="uk-animation-slide-left-small"
	uk-grid
	*transloco="let t"
>
	<div
		class="uk-width-1-1"
		id="address-book-sortable"
	>
		<div
			class="uk-margin-bottom"
			uk-grid
		>
			<div class="uk-width-expand@s uk-width-1-1">
				<h2 class="uk-heading-divider uk-text-truncate">
					{{ t('general.address-book') }}
					@if (activePanel !== 1) {
						<a
							(click)="activePanel = activePanel === 0 ? 2 : 0; addressBookShowFileExport = false"
							style="font-size: 12px; margin-left: 25px"
							>{{
								t(activePanel === 2 ? 'address-book.back-to-address-book' : 'address-book.import-export') | uppercase
							}}</a
						>
					}
				</h2>
			</div>
			<div class="uk-width-auto@s uk-width-1-1 uk-text-right">
				@if (activePanel === 0) {
					<button
						class="uk-button uk-button-secondary uk-align-right uk-width-auto@s"
						(click)="addEntry()"
					>
						{{ t('address-book.add-new-entry') }}
					</button>
				}
			</div>
		</div>
		@if (activePanel === 0) {
			<div class="uk-width-1-1 nlt-page-intro">
				<p>
					{{ t('address-book.you-can-use-the-address-book-to-store.1') }}<br />
					{{ t('address-book.you-can-use-the-address-book-to-store.2') }}
				</p>
				<div class="account-amounts-primary uk-width-1-1">
					<div
						class="details-header advanced-options-link"
						(click)="showAdvancedOptions = !showAdvancedOptions"
					>
						{{ t('address-book.show-total-tracked-balance') }}
						<div [class]="['chevron', showAdvancedOptions ? 'chevron-up' : 'chevron-down']"></div>
					</div>
					@if (showAdvancedOptions) {
						<div class="advanced-options">
							<span [title]="totalTrackedBalanceRaw > 0 ? '+' + totalTrackedBalanceRaw.toString() + ' raw' : ''">
								<span class="amount-integer">{{ totalTrackedBalance | rai: 'nano,true' | amountsplit: 0 }}</span>
								<span class="amount-fractional">{{ totalTrackedBalance | rai: 'nano,true' | amountsplit: 1 }}</span>
								<span class="currency-name">XNO</span>
							</span>
							@if (totalTrackedReceivable > 0) {
								<div class="incoming-label">
									<div class="text-snippet">{{ t('general.new') }}</div>
									<div class="text-full">
										+{{ totalTrackedReceivable | rai: 'nano,true' | amountsplit: 0
										}}{{ totalTrackedReceivable | rai: 'nano,true' | amountsplit: 1 }} XNO
									</div>
								</div>
							}
							<div class="account-amounts-converted uk-width-1-1 text-half-muted">
								{{ totalTrackedBalance | fiat }}
							</div>
						</div>
					}
				</div>
			</div>
		}
		@if (activePanel === 0) {
			<div
				class="uk-animation-slide-left-small"
				uk-grid
			>
				<div class="uk-width-1-1">
					<div class="uk-card uk-margin">
						<ul
							class="uk-list uk-list-striped"
							style="margin-bottom: 0"
						>
							<li class="uk-list-header">
								<div uk-grid>
									<div class="uk-width-2-5">{{ t('general.name') }}</div>
									<div class="uk-width-expand">
										{{ t('general.address') }}
										@if (numberOfTrackedBalance > 0) {
											<div style="display: flex">
												{{ t('address-book.reload-balances') | uppercase }}
												<ul
													class="uk-width-auto uk-iconnav uk-margin-remove-left"
													style="margin-top: -1px"
												>
													<li>
														@if (loadingBalances || walletService.isBalanceUpdating) {
															<div
																uk-spinner="ratio: 0.5;"
																class="icon-transactions-refresh spinner"
															></div>
														} @else {
															<a
																class="icon-transactions-refresh"
																[class.disabled]="!statsRefreshEnabled"
																[class.uk-text-muted]="!statsRefreshEnabled"
																uk-icon="icon: refresh;"
																title="Reload tracked balances (for addresses not in your Gnault wallet)"
																uk-tooltip
																(click)="updateTrackedBalances(true)"
															></a>
														}
													</li>
												</ul>
											</div>
										}
									</div>
									<div
										class="uk-width-1-6 uk-text-center"
										style="padding-left: 0"
									>
										{{ t('general.actions') }}
									</div>
								</div>
							</li>
						</ul>
						<ul
							class="uk-list uk-list-striped"
							style="margin-top: 0"
							uk-sortable="handle: .uk-sortable-handle; cls-custom: uk-box-shadow-small uk-background uk-background-default;"
						>
							@for (addressBook of addressBook$ | async; track addressBook.account) {
								<li [attr.data-account]="addressBook.account">
									<div uk-grid>
										<div class="uk-width-2-5 uk-text-truncate uk-visible-toggle">
											<div uk-grid>
												<div class="uk-width-expand uk-text-truncate uk-margin-small-right">
													{{ addressBook.name }}
												</div>
												<ul class="uk-iconnav uk-width-auto">
													<li>
														<a
															(click)="editEntry(addressBook)"
															title="Edit Entry"
															uk-tooltip
															uk-icon="icon: pencil;"
															class="edit-name-icon"
														></a>
													</li>
													<li>
														<a
															class="uk-sortable-handle uk-margin-small-right"
															uk-icon="icon: table"
														></a>
													</li>
												</ul>
											</div>
										</div>
										<div class="uk-width-expand uk-text-truncate uk-visible-toggle">
											<div uk-grid>
												<div class="uk-width-expand uk-text-truncate">
													<a
														[routerLink]="'/accounts/' + addressBook.account"
														class="nano-address-clickable nano-address-monospace uk-display-block"
														[title]="t('general.view-on-network-explorer')"
														uk-tooltip
													>
														<app-nano-address [value]="addressBook.account"></app-nano-address>
													</a>
												</div>
												<ul class="nano-address-actions uk-iconnav">
													<li>
														<a
															ngxClipboard
															[cbContent]="addressBook.account"
															(cbOnSuccess)="copied()"
															uk-icon="icon: copy"
															[title]="t('general.copy-to-clipboard')"
															uk-tooltip
														></a>
													</li>
												</ul>
												@if (addressBook.trackBalance) {
													<div class="uk-width-expand amount-container">
														@if (walletService.isBalanceUpdating === false) {
															<div class="account-amounts-primary uk-width-1-1">
																<span
																	[title]="
																		accounts[addressBook.account]?.balance > 0
																			? '+' + accounts[addressBook.account]?.balance.toString() + ' raw'
																			: ''
																	"
																>
																	<span class="amount-integer">{{
																		accounts[addressBook.account]?.balance | rai: 'nano,true' | amountsplit: 0
																	}}</span>
																	<span class="amount-fractional">{{
																		accounts[addressBook.account]?.balance | rai: 'nano,true' | amountsplit: 1
																	}}</span>
																	<span class="currency-name">XNO</span>
																</span>
																@if (accounts[addressBook.account]?.receivable > 0) {
																	<div class="incoming-label">
																		<div class="text-snippet">New</div>
																		<div class="text-full">
																			+{{ accounts[addressBook.account]?.receivable | rai: 'nano,true' | amountsplit: 0
																			}}{{
																				accounts[addressBook.account]?.receivable | rai: 'nano,true' | amountsplit: 1
																			}}
																			XNO
																		</div>
																	</div>
																}
															</div>
															<div class="account-amounts-converted uk-width-1-1 text-half-muted">
																{{ accounts[addressBook.account]?.balance | fiat }}
															</div>
														} @else {
															<div class="account-amounts-primary uk-width-1-1">
																<div uk-spinner="ratio: 0.5;"></div>
															</div>
														}
													</div>
												}
											</div>
										</div>
										<div
											class="uk-width-1-6 uk-text-center"
											style="padding-left: 0"
										>
											<a
												(click)="deleteAddress(addressBook.account)"
												class="uk-text-danger"
												title="Remove From Address Book"
												uk-tooltip
												><span uk-icon="icon: trash;"></span
											></a>
										</div>
									</div>
								</li>
							}
							@if (!(addressBook$ | async).length) {
								<li class="uk-text-center">
									{{ t('address-book.you-do-not-have-any-address-book-entries-saved-yet.1') }}
									<a (click)="addEntry()">
										{{ t('address-book.you-do-not-have-any-address-book-entries-saved-yet.2-link') }}
									</a>
									{{ t('address-book.you-do-not-have-any-address-book-entries-saved-yet.3') }}
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		}
		@if (activePanel === 1) {
			<div
				class="uk-animation-slide-left-small"
				uk-grid
			>
				<div class="uk-width-1-1">
					<div class="uk-card uk-card-default">
						<div class="uk-card-header">
							<h2 class="uk-card-title">
								{{ t(creatingNewEntry ? 'address-book.add-new-entry' : 'address-book.edit-entry') }}
							</h2>
						</div>
						<div class="uk-card-body">
							<div class="uk-form-horizontal">
								<div class="uk-margin">
									<label
										class="uk-form-label"
										for="new-address-name"
										>{{ t('general.name') }}</label
									>
									<div class="uk-form-controls">
										<input
											type="text"
											class="uk-input"
											id="new-address-name"
											[(ngModel)]="newAddressName"
											(keyup.enter)="saveNewAddress()"
											[placeholder]="t('address-book.exchange-deposit-address-main-trading-account-etc')"
											maxlength="64"
										/>
									</div>
								</div>
								<div class="uk-margin">
									<label
										class="uk-form-label"
										for="new-address-account"
										>{{ t('general.address') }}</label
									>
									<div class="uk-form-controls">
										<div class="uk-inline uk-width-1-1">
											@if (creatingNewEntry) {
												<a
													class="uk-form-icon uk-form-icon-flip"
													uk-icon="icon: camera"
													(click)="openQR('account1', 'account')"
													uk-tooltip
													[title]="t('general.scan-qr-code')"
												></a>
											}
											<input
												type="text"
												class="uk-input"
												id="new-address-account"
												[(ngModel)]="newAddressAccount"
												[disabled]="!creatingNewEntry"
												placeholder="nano_abc123"
											/>
										</div>
									</div>
								</div>
								<div class="uk-margin">
									<label
										class="uk-form-label"
										for="new-track-balance"
										>{{ t('address-book.track-balance') }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('address-book.the-balance-will-be-displayed-in-the-address-book')"
										></span
									></label>
									<div class="uk-form-controls">
										<input
											class="uk-checkbox checkbox-aligned"
											type="checkbox"
											id="new-track-balance"
											value="1"
											[(ngModel)]="newTrackBalance"
										/>
									</div>
								</div>
								<div class="uk-margin">
									<label
										class="uk-form-label"
										for="new-track-transactions"
									>
										{{ t('address-book.track-transactions') }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('address-book.a-notification-will-be-shown-whenever-the-address-has-a-new')"
										></span>
									</label>
									<div class="uk-form-controls">
										<input
											class="uk-checkbox checkbox-aligned"
											type="checkbox"
											id="new-track-transactions"
											value="1"
											[(ngModel)]="newTrackTransactions"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="uk-card-footer uk-text-right@s nlt-button-group">
							<button
								class="uk-button uk-button-danger uk-width-1-1@s uk-width-auto@m"
								(click)="cancelNewAddress()"
							>
								{{ t('general.cancel') }}
							</button>
							<button
								class="uk-button uk-button-primary uk-width-1-1@s uk-width-auto@m"
								(click)="saveNewAddress()"
							>
								{{ t('general.save') }}
							</button>
						</div>
					</div>
				</div>
			</div>
		}
		@if (activePanel === 2) {
			<div
				class="uk-animation-slide-left-small"
				uk-grid
			>
				<div class="uk-width-1-1">
					<div class="uk-card uk-card-default">
						<div class="uk-card-header">
							<h3 class="uk-card-title">{{ t('address-book.address-book-import') }}</h3>
						</div>
						<div class="uk-card-body">
							<p>{{ t('address-book.import-address-book-entries-from-a-file') }}</p>
						</div>
						<div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
							<div
								class="js-upload uk-text-left uk-width-auto@s uk-width-1-1"
								style="display: inline-block"
								uk-form-custom
							>
								<input
									type="file"
									id="import-from-file"
									(change)="importFromFile($event.target.files)"
									multiple
								/>
								<button
									class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
									type="button"
									tabindex="-1"
								>
									{{ t('address-book.import-address-book') }}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-1">
					<div class="uk-card uk-card-default">
						<div class="uk-card-header">
							<h3 class="uk-card-title">{{ t('address-book.address-book-export') }}</h3>
						</div>
						<div class="uk-card-body">
							<p>{{ t('address-book.export-all-address-book-entries-to-a-file-or-qr-code-url') }}</p>
							<p>{{ t('address-book.note-exported-address-book-will-not-be-encrypted-by-your-wal') }}</p>
							@if (addressBookShowFileExport) {
								<div uk-grid>
									<div class="uk-width-1-1">
										<hr class="uk-divider-icon" />
									</div>
									<div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
										@if (addressBookShowQRExport) {
											<img
												[src]="addressBookQRExportImg"
												alt="QR code"
												style="border-radius: 6px"
											/>
										}
										@if (!addressBookShowQRExport) {
											<span class="uk-text-warning"
												>{{ t('address-book.address-book-too-large-for-a-qr-code') }}<br />{{
													t('address-book.if-you-need-a-qr-use-fewer-entries-or-shorter-names')
												}}
											</span>
										}
									</div>
									<div class="uk-width-1-1@s uk-width-1-2@m uk-width-2-3@l">
										@if (addressBookShowQRExport) {
											<span>
												{{ t('address-book.scan-the-qr-code-on-any-device-to-import-your-address-book') }}<br /><br />
											</span>
										}
										@if (addressBookShowQRExport) {
											<span>{{ t('address-book.you-can-also-import-your-address-book-by-using-the-url-below') }}</span>
										}
										@if (!addressBookShowQRExport) {
											<span>{{ t('address-book.you-can-still-import-your-address-book-by-using-the-url') }}</span>
										}
										<br /><br />
										<input
											type="text"
											class="uk-input"
											style="max-width: 750px"
											value="{{ addressBookQRExportUrl }}"
										/><br />
										<div class="nlt-button-group">
											<button
												ngxClipboard
												[cbContent]="addressBookQRExportUrl"
												(cbOnSuccess)="notificationService.sendSuccess('Address book export copied to clipboard!')"
												class="uk-button uk-button-secondary uk-width-1-1@s uk-width-auto@m uk-margin-small-top"
												style="margin-left: 0"
											>
												{{ t('general.copy-to-clipboard') }}
											</button>
											<button
												(click)="exportAddressBookToFile()"
												class="uk-button uk-button-primary uk-width-1-1@s uk-width-auto@m uk-margin-small-top"
											>
												{{ t('address-book.export-as-file') }}
											</button>
										</div>
									</div>
								</div>
							}
						</div>
						@if (!addressBookShowFileExport) {
							<div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
								<button
									(click)="exportAddressBook()"
									class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
								>
									{{ t('address-book.export-address-book') }}
								</button>
							</div>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>
