:host {
	--pk: 0;
	padding-left: 0;
}

.footer {
	color: #d4d5d5;
	font-size: 12px;
}

.footer-link {
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.5;
}

.footer-link:hover {
	opacity: 1;
}

.logo {
	filter: hue-rotate(var(--selectedAccountColor, 0deg)) saturate(1) brightness(1);
}
