@if (displayedRepresentatives.length > 0) {
	<div class="nav-representative-info">
		@for (rep of displayedRepresentatives; let repIdx = $index; track repIdx) {
			<div
				class="representative"
				(mouseover)="showRepHelp = rep.address"
				(mouseout)="showRepHelp = null"
			>
				<h2>
					{{
						repIdx === 0
							? ('general.representative' | transloco)
							: ('change-rep-widget.representative-for-account'
								| transloco
									: {
											account: rep.accounts[0]?.addressBookName
												? '"' + rep.accounts[0]?.addressBookName + '"'
												: rep.accounts[0]?.id.slice(0, 10) + '...',
									  })
					}}
				</h2>
				<div class="representative-name-row">
					<a
						(click)="showRepSelectionForSpecificRep(rep)"
						class="name"
						>{{ rep.label || ('change-rep-widget.unknown-rep' | transloco) }}</a
					>
					@if (rep.percent > 0) {
						<div class="weight-total">{{ rep.percent.toFixed(2) }}%</div>
					}
				</div>
				@switch (true) {
					@case (rep.statusText == 'trusted') {
						<div class="representative-health-row health-green">
							<div class="health-icon"></div>
							<div class="label">{{ 'change-rep-widget.good-representative' | transloco }}</div>
						</div>
					}
					@case (rep.statusText == 'ok') {
						<div class="representative-health-row health-green">
							<div class="health-icon"></div>
							<div class="label">{{ 'change-rep-widget.good-representative' | transloco }}</div>
						</div>
					}
					@case (rep.statusText == 'warn') {
						<div class="representative-health-row health-yellow">
							<div class="health-icon"></div>
							<div class="label">{{ 'change-rep-widget.acceptable-representative' | transloco }}</div>
						</div>
					}
					@case (rep.statusText == 'alert') {
						<div class="representative-health-row health-red">
							<div class="health-icon"></div>
							<div class="label">{{ 'change-rep-widget.bad-representative' | transloco }}</div>
						</div>
					}
					@default {
						<div class="representative-health-row health-unknown">
							<div class="health-icon"></div>
							<div class="label">{{ 'change-rep-widget.unknown-status' | transloco }}</div>
						</div>
					}
				}
				<div [class]="['representative-help-tooltip', showRepHelp == rep.address ? 'visible' : 'hidden']">
					<p class="primary">
						{{
							'change-rep-widget.rep-represents-you'
								| transloco: { name: rep.label || ('change-rep-widget.unknown-rep' | transloco) }
						}}
					</p>
					<p>{{ 'change-rep-widget.you-can-change-representative-at-any-time' | transloco }}</p>
					<div class="header-row">
						<div class="separator"></div>
						<h2>{{ 'change-rep-widget.health' | transloco }}</h2>
						<div class="separator"></div>
					</div>
					@if (rep.status.markedToAvoid) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{ 'change-rep-widget.this-representative-is-marked-as-avoid' | transloco }}
						</p>
					}
					@if (rep.status.markedAsNF) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{ 'change-rep-widget.this-representative-is-marked-as-nf' | transloco }}
						</p>
					}
					@if (rep.status.closing) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{ 'change-rep-widget.this-representative-has-announced-plans-to-permanently-shutdown' | transloco }}
						</p>
					}
					@if (rep.status.veryHighWeight) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{ 'change-rep-widget.this-representative-has-a-very-high-voting-weight' | transloco: { percent: 3 } }}
						</p>
					}
					@if (rep.status.highWeight) {
						<p class="uk-text-warning">
							<span uk-icon="icon: warning;"></span
							>{{ 'change-rep-widget.this-representative-has-a-high-voting-weight' | transloco: { percent: 2 } }}
						</p>
					}
					@if (rep.status.veryLowUptime && rep.status.uptime > 0) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{
								'change-rep-widget.this-representative-is-often-offline'
									| transloco: { percent: rep.status.uptime.toFixed(1) }
							}}
						</p>
					}
					@if (rep.status.lowUptime && rep.status.uptime > 0) {
						<p class="uk-text-warning">
							<span uk-icon="icon: warning;"></span
							>{{
								'change-rep-widget.this-representative-is-sometimes-offline'
									| transloco: { percent: rep.status.uptime.toFixed(1) }
							}}
						</p>
					}
					@if (!rep.status.online && rep.status.uptime === 0) {
						<p class="uk-text-danger">
							<span uk-icon="icon: warning;"></span
							>{{
								'change-rep-widget.this-representative-has-been-offline-for-the-past-days'
									| transloco: { days: rep.status.daysSinceLastVoted }
							}}
						</p>
					}
					@switch (rep.statusText) {
						@case ('trusted') {
							<p>
								{{ 'change-rep-widget.you-have-marked-this-representative-as-trusted' | transloco }}
							</p>
						}
						@case ('ok') {
							<p class="uk-text-success">
								<span uk-icon="icon: check;"></span
								>{{ 'change-rep-widget.we-found-no-issues-with-uptime-or-weight' | transloco }}
							</p>
						}
						@case ('warn') {
							<p>
								{{ 'change-rep-widget.switching-to-a-different-representative-could-improve' | transloco }}
							</p>
						}
						@case ('alert') {
							<p>
								{{ 'change-rep-widget.it-is-highly-advised-to-switch-to-a-different-representative' | transloco }}
							</p>
						}
						@default {
							<p>
								<span uk-icon="icon: question;"></span
								>{{ 'change-rep-widget.we-could-not-determine-status-of-this-representative' | transloco }}
							</p>
						}
					}
				</div>
			</div>
		}
	</div>
} @else if (!initialLoadComplete || selectedAccountHasRepresentative) {
	<div class="nav-representative-info">
		<div class="representative">
			<h2>{{ 'general.representative' | transloco }}</h2>
			<div class="representative-name-row">
				<div class="name no-interact">{{ 'general.loading' | transloco }}</div>
			</div>
			<div class="representative-health-row health-unknown health-loading">
				<div uk-spinner="ratio: 0.5;"></div>
				<div class="label">{{ 'change-rep-widget.checking-status' | transloco }}</div>
			</div>
		</div>
	</div>
} @else {
	<ng-template #selectedAccountHasNoRep>
		<div class="nav-representative-info">
			<div class="representative">
				<h2>{{ 'general.representative' | transloco }}</h2>
				<div class="representative-name-row">
					<div class="name no-interact">{{ 'change-rep-widget.representative-none' | transloco }}</div>
				</div>
				<div class="representative-health-row health-unknown">
					<div class="health-icon"></div>
					<div class="label">{{ 'change-rep-widget.receive-a-transaction-to-configure' | transloco }}</div>
				</div>
			</div>
		</div>
	</ng-template>
}
@if (showRepChangeRequired) {
	<div
		class="nav-status-row interactable uk-animation-slide-left"
		(click)="showRepSelectionForAllChangeableReps()"
	>
		<div class="status-icon">
			<span
				class="uk-text-warning"
				uk-icon="icon: warning; ratio: 1.2;"
			></span>
		</div>
		<div class="status-labels">
			<div class="label primary uk-text-warning">
				{{ 'change-rep-widget.representative-change-required' | transloco }}
			</div>
		</div>
	</div>
}
