<div
	(click)="install()"
	[tabindex]="isIosInstallable() ? -1 : 0"
	class="nav-install-row half-muted"
	[class.interactable]="!isIosInstallable()"
	[class.large]="isIosInstallable()"
	[class.visible]="showInstallPromotion"
	[class.uk-hidden]="!isPromotable()"
>
	<span
		uk-icon="icon: download; ratio: 1.2"
		class="icon"
	></span>
	<div>
		<div class="label">Install Gnault for {{ platform }}</div>
		@if (isIosInstallable()) {
			<div class="description">
				1. Tap the <span uk-icon="icon: push; ratio: 0.8"></span> Share button
				@if (platform === 'iOS') {
					<span>below</span>
				}
				@if (platform === 'iPadOS') {
					<span>in the top right</span>
				}
				<br />2. Select <span uk-icon="icon: plus-circle; ratio: 0.8"></span> Add to home screen
			</div>
		}
	</div>
</div>
