<div
	class="uk-animation-slide-left-small"
	uk-grid
>
	<div class="uk-width-1-1">
		<h2 class="uk-heading-divider">Transaction Details</h2>
		@if (!transaction) {
			<div>
				<div class="uk-alert uk-alert-warning nlt-inline-alert">
					<div class="icon-column">
						<div uk-icon="icon: warning; ratio: 2;"></div>
					</div>
					<p>
						<b>Unable to find the block with specified hash</b><br />Please double check that the block hash is
						correct<br />Additionally, try selecting a different server in the app settings
					</p>
				</div>
			</div>
		}
		@if (isUnconfirmedBlock) {
			<div>
				<div class="uk-alert uk-alert-danger nlt-inline-alert">
					<div class="icon-column">
						<div uk-icon="icon: warning; ratio: 2;"></div>
					</div>
					<p>
						<b>This block has not yet been confirmed by the network</b><br />The information provided below is not final
						until the network verifies this block
					</p>
				</div>
			</div>
		}
		@if (transaction) {
			<div class="uk-width-1-1">
				@if (loadingBlock === false) {
					<div
						class="uk-card uk-card-default uk-width-1-1 uk-text-center"
						style="margin-bottom: 20px"
					>
						@if (blockType !== 'change') {
							<div
								class="uk-card-header"
								style="padding: 15px"
							>
								<div
									style="padding-bottom: 4px"
									[title]="isUnconfirmedBlock ? 'This transaction has not yet been confirmed by the network' : ''"
									uk-tooltip
								>
									@if (blockType === 'send') {
										<span [class]="isUnconfirmedBlock ? 'text-half-muted' : 'uk-text-danger'">Sent</span>
									}
									@if (blockType === 'open') {
										<span [class]="isUnconfirmedBlock ? 'text-half-muted' : 'uk-text-success'">Received</span>
									}
									@if (blockType === 'receive') {
										<span [class]="isUnconfirmedBlock ? 'text-half-muted' : 'uk-text-success'">Received</span>
									}
									@if (isUnconfirmedBlock === true) {
										<span
											class="icon-unconfirmed text-half-muted"
											uk-icon="icon: clock;"
										></span>
									}
								</div>
								@if (transaction?.amount) {
									<div
										class="block-amount-primary"
										[class.uk-text-danger]="blockType === 'send'"
										[class.uk-text-success]="blockType === 'open' || blockType === 'receive'"
									>
										<span class="xno">&#xE001;</span>
										<span class="amount-integer">{{ transaction?.amount | rai: 'nano,true' | amountsplit: 0 }}</span>
										<span class="amount-fractional">{{ transaction?.amount | rai: 'nano,true' | amountsplit: 1 }}</span>
									</div>
								}
								@if (amount > 0) {
									<div
										class="uk-text-small text-half-muted"
										style="margin: 2px 0 -2px 0"
									>
										{{ blockType === 'send' ? '-' : '+' }}{{ amount }} raw
									</div>
								}
							</div>
						}
						@if (blockType === 'change') {
							<div class="uk-card-header">
								<div
									[title]="isUnconfirmedBlock ? 'This change has not yet been confirmed by the network' : ''"
									uk-tooltip
								>
									<div
										[class]="isUnconfirmedBlock ? 'text-half-muted' : 'text-rep-change'"
										style="margin-bottom: 7px"
										uk-icon="icon: cog; ratio: 1.2;"
									></div>
									<br />
									<span [class]="isUnconfirmedBlock ? 'text-half-muted' : 'text-rep-change'"
										>Representative Change</span
									>
									@if (isUnconfirmedBlock === true) {
										<span
											class="icon-unconfirmed text-half-muted"
											uk-icon="icon: clock;"
										></span>
									}
								</div>
							</div>
						}
					</div>
				}
				@if (loadingBlock === false) {
					<div class="account-snippet-container">
						<div class="account-snippet uk-text-truncate">
							<div
								class="uk-card uk-card-default uk-text-truncate"
								[class.identicons-enabled]="settings.identiconsStyle !== 'none'"
							>
								<div class="uk-card-header">
									@if (blockType !== 'change') {
										<div class="snippet-caption uk-text-small text-half-muted">From Account</div>
									}
									@if (blockType === 'change') {
										<div class="snippet-caption uk-text-small text-half-muted">Account</div>
									}
									<div
										class="uk-flex uk-flex-nowrap uk-width-auto uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<a
											[routerLink]="'/accounts/' + fromAccountID"
											class="uk-link-reset account-container uk-text-truncate"
											uk-tooltip
											title="View Account Details"
										>
											<div class="identicon-address-book-row">
												@if (settings.identiconsStyle !== 'none') {
													<app-nano-identicon
														scale="12"
														[address]="fromAccountID"
														[settingIdenticonsStyle]="settings.identiconsStyle"
														class="nano-identicon"
													></app-nano-identicon>
												}
												@if (fromAddressBook) {
													<div class="account-label uk-text-truncate">{{ fromAddressBook }}</div>
												}
											</div>
											<div class="nano-address-clickable nano-address-monospace uk-text-truncate">
												<app-nano-address [address]="fromAccountID"></app-nano-address>
											</div>
										</a>
										<div class="snippet-address-actions uk-width-auto uk-flex uk-flex-bottom">
											<ul class="uk-iconnav">
												<li>
													<a
														ngxClipboard
														[cbContent]="fromAccountID"
														(cbOnSuccess)="copied()"
														uk-icon="icon: copy"
														title="Copy Account Address"
														uk-tooltip
													></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="account-snippet uk-text-truncate">
							<div
								class="uk-card uk-card-default uk-text-truncate"
								[class.identicons-enabled]="settings.identiconsStyle !== 'none'"
							>
								<div class="uk-card-header">
									@if (blockType != 'change') {
										<div class="snippet-caption uk-text-small text-half-muted">To Account</div>
									}
									@if (blockType == 'change') {
										<div class="snippet-caption uk-text-small text-half-muted">New Representative</div>
									}
									<div
										class="uk-flex uk-flex-nowrap uk-width-auto uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<a
											[routerLink]="'/accounts/' + toAccountID"
											class="uk-link-reset account-container uk-text-truncate"
											uk-tooltip
											title="View Account Details"
										>
											<div class="identicon-address-book-row">
												@if (settings.identiconsStyle !== 'none') {
													<app-nano-identicon
														scale="12"
														[address]="toAccountID"
														[settingIdenticonsStyle]="settings.identiconsStyle"
														class="nano-identicon"
													></app-nano-identicon>
												}
												@if (toAddressBook) {
													<div class="account-label uk-text-truncate">{{ toAddressBook }}</div>
												}
											</div>
											<div class="nano-address-clickable nano-address-monospace uk-text-truncate">
												<app-nano-address [address]="toAccountID"></app-nano-address>
											</div>
										</a>
										<div class="snippet-address-actions uk-width-auto uk-flex uk-flex-bottom">
											<ul class="uk-iconnav">
												<li>
													<a
														ngxClipboard
														[cbContent]="toAccountID"
														(cbOnSuccess)="copied()"
														uk-icon="icon: copy"
														title="Copy Account Address"
														uk-tooltip
													></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		}
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header uk-padding-small uk-form-horizontal">
				<div class="uk-margin">
					<label class="uk-form-label">Block Hash:</label>
					<div class="uk-form-controls uk-text-truncate">
						<div
							uk-grid
							class="uk-flex-nowrap uk-text-truncate"
						>
							<div
								class="uk-width-auto block-hash-monospace uk-text-truncate"
								style="max-width: calc(100% - 35px)"
							>
								{{ hashID }}
							</div>
							<div class="uk-width-auto block-hash-actions">
								<ul class="uk-iconnav">
									<li>
										<a
											ngxClipboard
											[cbContent]="hashID"
											(cbOnSuccess)="copied()"
											uk-icon="icon: copy"
											title="Copy Block Hash"
											uk-tooltip
										></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			@if (loadingBlock) {
				<div class="uk-card-body uk-text-center">
					<span
						class="uk-margin-right"
						uk-spinner
					></span>
					Loading transaction details...
				</div>
			}
			@if (!loadingBlock && transaction) {
				<div class="uk-card-body uk-padding-small uk-form-horizontal">
					@if (transaction?.contents?.type) {
						<div class="uk-margin">
							<label class="uk-form-label">Type:</label>
							<div class="uk-form-controls uk-text-truncate">{{ transaction?.contents?.type }}</div>
						</div>
					}
					@if (transaction?.local_timestamp) {
						<div class="uk-margin">
							<label class="uk-form-label">Date:</label>
							<div class="uk-form-controls uk-text-truncate">
								@if (transaction.local_timestamp) {
									<span>{{ transaction?.local_timestamp * 1000 | date: 'MMM d, y HH:mm:ss' }}</span>
								}
								@if (!transaction.local_timestamp) {
									<span class="uk-text-muted">N/A</span>
								}
							</div>
						</div>
					}
					@if (transaction?.contents?.balance) {
						<div class="uk-margin">
							<label class="uk-form-label">Balance:</label>
							<div class="uk-form-controls uk-text-truncate block-balance">
								<div class="balance-amount-primary uk-text-truncate">
									<span class="amount-integer">{{
										(isStateBlock
											? getBalanceFromDec(transaction?.contents?.balance)
											: getBalanceFromHex(transaction?.contents?.balance)
										)
											| rai: 'nano,true'
											| amountsplit: 0
									}}</span>
									<span class="amount-fractional">{{
										(isStateBlock
											? getBalanceFromDec(transaction?.contents?.balance)
											: getBalanceFromHex(transaction?.contents?.balance)
										)
											| rai: 'nano,true'
											| amountsplit: 1
									}}</span>
									<span class="currency-name">XNO</span>
								</div>
								<div class="uk-text-small block-hash-monospace">
									<span
										class="text-half-muted"
										style="margin-right: 4px"
										>=</span
									>{{ transaction?.contents?.balance }} raw
								</div>
							</div>
						</div>
					}
					@if (transaction?.contents?.representative) {
						<div class="uk-margin">
							<label class="uk-form-label">Representative:</label>
							<div class="uk-form-controls uk-text-truncate">
								<a
									[routerLink]="'/accounts/' + transaction?.contents?.representative"
									class="account-container uk-link-text uk-text-truncate"
									uk-tooltip
									title="View Account Details"
								>
									<span
										class="nano-address-clickable nano-address-monospace uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<app-nano-address [address]="transaction?.contents?.representative"></app-nano-address>
									</span>
								</a>
							</div>
						</div>
					}
					@if (transaction?.contents?.previous && blockType != 'open') {
						<div class="uk-margin">
							<label class="uk-form-label">Previous:</label>
							<div class="uk-form-controls uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap uk-text-truncate"
								>
									<a
										class="uk-width-auto uk-text-truncate block-hash-monospace block-hash-clickable"
										[routerLink]="'/transaction/' + transaction?.contents?.previous"
										style="max-width: calc(100% - 35px)"
										title="View Block Details"
										uk-tooltip
										>{{ transaction?.contents?.previous }}</a
									>
									<div class="uk-width-auto block-hash-actions">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="transaction?.contents?.previous"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													title="Copy Previous Block Hash"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
					@if (successorHash) {
						<div class="uk-margin">
							<label class="uk-form-label">Successor:</label>
							<div class="uk-form-controls uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap uk-text-truncate"
								>
									<a
										class="uk-width-auto uk-text-truncate block-hash-monospace block-hash-clickable"
										[routerLink]="'/transaction/' + successorHash"
										style="max-width: calc(100% - 35px)"
										title="View Block Details"
										uk-tooltip
										>{{ successorHash }}</a
									>
									<div class="uk-width-auto block-hash-actions">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="successorHash"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													title="Copy Successor Block Hash"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
					@if (blockHeight != -1) {
						<div class="uk-margin">
							<label class="uk-form-label">Height:</label>
							<div class="uk-form-controls uk-text-truncate">{{ blockHeight | number: '' : 'en-US' }}</div>
						</div>
					}
					@if (
						(transaction?.contents?.link || transaction?.contents?.source) &&
						(blockType == 'open' || blockType == 'receive')
					) {
						<div class="uk-margin">
							<label class="uk-form-label">Link (Source):</label>
							<div class="uk-form-controls uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap uk-text-truncate"
								>
									<a
										class="uk-width-auto uk-text-truncate block-hash-monospace block-hash-clickable"
										[routerLink]="'/transaction/' + (transaction?.contents?.link || transaction?.contents?.source)"
										style="max-width: calc(100% - 35px)"
										title="View Block Details"
										uk-tooltip
										>{{ transaction?.contents?.link }}</a
									>
									<div class="uk-width-auto block-hash-actions">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="transaction?.contents?.link || transaction?.contents?.source"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													title="Copy Source Block Hash"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
					@if (transaction?.contents?.link_as_account && blockType == 'send') {
						<div class="uk-margin">
							<label class="uk-form-label">Link (Destination):</label>
							<div class="uk-form-controls uk-text-truncate">
								<a
									[routerLink]="'/accounts/' + transaction?.contents?.link_as_account"
									class="account-container uk-link-text uk-text-truncate"
									uk-tooltip
									title="View Account Details"
								>
									<span
										class="nano-address-clickable nano-address-monospace uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<app-nano-address [address]="transaction?.contents?.link_as_account"></app-nano-address>
									</span>
								</a>
							</div>
						</div>
					}
					@if (transaction?.contents?.work) {
						<div class="uk-margin">
							<label class="uk-form-label">Work:</label>
							<div class="uk-form-controls uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap uk-text-truncate"
								>
									<div
										class="uk-width-auto uk-text-truncate block-hash-monospace"
										style="max-width: calc(100% - 35px)"
									>
										{{ transaction?.contents?.work }}
									</div>
									<div class="uk-width-auto block-hash-actions">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="transaction?.contents?.work"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													title="Copy Work Value"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
					@if (transaction?.contents?.signature) {
						<div class="uk-margin">
							<label class="uk-form-label">Signature:</label>
							<div class="uk-form-controls uk-text-small">
								<div
									uk-grid
									class="uk-flex-nowrap uk-flex-middle"
									style="max-width: 100%"
								>
									<div class="uk-width-auto block-hash-monospace block-signature">
										{{ transaction?.contents?.signature }}
									</div>
									<div class="uk-width-auto block-hash-actions">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="transaction?.contents?.signature"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													title="Copy Signature"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			}
		</div>
		@if (transaction) {
			<div uk-grid>
				<div class="uk-width-1-1 uk-text-center">
					<a
						(click)="showBlockData = !showBlockData"
						class="uk-link-text"
						>{{ showBlockData ? 'Hide' : 'Show' }} Block Data</a
					>
				</div>
			</div>
		}
		@if (transaction && transactionJSON && showBlockData) {
			<div class="uk-card uk-card-default uk-margin">
				<div class="uk-card-header">Raw Block Data</div>
				<div class="uk-card-body uk-padding-small uk-form-horizontal">
					<pre><code>{{ transactionJSON }}</code></pre>
				</div>
			</div>
		}
	</div>
</div>
