<div
	class="uk-animation-slide-left-small"
	uk-grid
	*transloco="let t"
>
	<div class="uk-width-1-1">
		<h2 class="uk-heading-divider">
			{{ 'configure-app.configure-gnault' | transloco }}
		</h2>
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">
					{{ 'configure-app.display-settings' | transloco }}
				</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="languageselector"
								>
									{{ 'configure-app.language' | transloco }}
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedLanguage"
										id="languageselector"
									>
										@for (language of languages; track language) {
											<option [value]="language.id">
												{{ language.label }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select"
								>
									{{ 'configure-app.fiat-currency' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-the-currency-pair-used-when-showing-fiat-values')"
									></span>
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedCurrency"
										id="form-horizontal-select"
									>
										@for (currency of currencies; track currency) {
											<option [value]="currency">
												{{ currency }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select"
								>
									{{ 'configure-app.night-mode' | transloco }}
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedNightModeOption"
										id="form-horizontal-select"
									>
										@for (nightModeOption of nightModeOptions; track nightModeOption) {
											<option [value]="nightModeOption.value">
												{{ nightModeOption.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select"
								>
									{{ 'configure-app.identicons' | transloco }}
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedIdenticonOption"
										id="form-horizontal-select"
									>
										@for (identiconOption of identiconOptions; track identiconOption) {
											<option [value]="identiconOption.value">
												{{ identiconOption.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
				<button
					(click)="updateDisplaySettings()"
					class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
				>
					{{ 'configure-app.update-display-settings' | transloco }}
				</button>
			</div>
		</div>
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">
					{{ 'configure-app.wallet-settings' | transloco }}
				</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.lock-after-inactivity' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-if-your-wallet-should-be-locked-automatically-after')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											[(ngModel)]="selectedInactivityMinutes"
										>
											@for (option of inactivityOptions; track option) {
												<option [value]="option.value">
													{{ option.name }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.component.wallet-storage' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-where-your-wallet-is-stored-if-you-select-none-your')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											[(ngModel)]="selectedStorage"
										>
											@for (storage of storageOptions; track storage) {
												<option [value]="storage.value">
													{{ storage.name }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.pow-source' | transloco }}
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											[(ngModel)]="selectedPoWOption"
										>
											@for (pow of powOptions; track pow) {
												<option [value]="pow.value">
													@if (pow.value === 'server') {
														{{ getRemotePoWOptionName() }}
													}
													@if (pow.value !== 'server') {
														{{ pow.name }}
													}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
							@if (selectedPoWOption === 'custom') {
								<div class="uk-margin">
									<label class="uk-form-label">
										{{ 'configure-app.work-server' | transloco }}
									</label>
									<div class="uk-form-controls">
										<input
											[(ngModel)]="customWorkServer"
											class="uk-input uk-margin-small-bottom"
											type="text"
											placeholder="http://my-work-server:port"
										/>
										<span class="uk-text-meta">
											{{ 'configure-app.this-has-to-be-a-valid-work.1' | transloco }}
											<a
												href="https://docs.nault.cc/2021/02/13/custom-work-server.html"
												target="_blank"
												rel="noopener noreferrer"
											>
												{{ 'configure-app.this-has-to-be-a-valid-work.2-link-work' | transloco }}
											</a>
											{{ 'configure-app.this-has-to-be-a-valid-work.3' | transloco }}
										</span>
									</div>
								</div>
							}
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.receive-method' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.if-automatically-receiving-incoming-transactions-with-the')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											[(ngModel)]="selectedReceivableOption"
										>
											@for (receivable of receivableOptions; track receivable) {
												<option [value]="receivable.value">
													{{ receivable.name }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.min-receive-amount' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.minimum-nano-amount-to-receive-transactions-below-this')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div uk-grid>
										<div class="uk-width-1-1">
											<div class="uk-inline uk-width-1-1">
												<label
													class="uk-form-icon uk-link-reset uk-link-muted xno-symbol"
													for="form-horizontal-amount"
												></label>
												<input
													[(ngModel)]="minimumReceive"
													class="uk-input"
													style="padding-left: 52px !important"
													id="form-horizontal-text4"
													type="text"
													[placeholder]="t('configure-app.leave-blank-to-accept-transactions-of-any-amount')"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ 'configure-app.default-representative' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.this-representative-will-be-used-for-any-new-account')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<a
											class="uk-form-icon uk-form-icon-flip"
											uk-icon="icon: camera"
											(click)="openQR('rep1', 'account')"
											uk-tooltip
											[title]="t('general.scan-qr-code')"
										></a>
										<input
											(blur)="validateRepresentative()"
											(input)="searchRepresentatives()"
											(focus)="searchRepresentatives()"
											[(ngModel)]="defaultRepresentative"
											class="uk-input"
											[ngClass]="{ 'uk-form-success': repStatus === 2, 'uk-form-danger': repStatus === 0 }"
											id="form-horizontal-text3"
											type="text"
											[placeholder]="t('configure-app.leave-blank-to-use-a-recommended-one')"
											#repInput
										/>
										@if ((representativeResults$ | async).length) {
											<div
												[hidden]="!showRepresentatives"
												class="nlt-dropdown uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute"
												style="z-index: 15000"
											>
												<ul class="uk-nav uk-nav-default">
													<li class="uk-nav-header">
														{{ 'representative-search.representative-list-results' | transloco }}
													</li>
													<li class="uk-nav-divider"></li>
													@for (rep of representativeResults$ | async; track rep) {
														<li>
															<a (click)="selectRepresentative(rep.id)">
																{{ rep.name }}
																@if (rep.trusted) {
																	<span
																		class="uk-text-success"
																		style="margin-left: 4px"
																		><span uk-icon="icon: star;"></span
																	></span>
																}
																@if (rep.warn) {
																	<span
																		class="uk-text-warning"
																		style="margin-left: 4px"
																	>
																		<span uk-icon="icon: warning;"></span>
																		{{ 'general.avoid' | transloco }}
																	</span>
																}
															</a>
														</li>
													}
												</ul>
											</div>
										}
									</div>
								</div>
								@if (representativeListMatch) {
									<div class="uk-form-controls">
										<div class="uk-inline uk-width-1-1 uk-margin-small-top">
											<span class="account-label rep">
												{{ representativeListMatch }}
											</span>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-card-footer uk-text-right@s uk-text-center nlt-button-group">
				<button
					(click)="updateWalletSettings()"
					class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
				>
					{{ 'configure-app.update-wallet-settings' | transloco }}
				</button>
			</div>
		</div>
		<div class="uk-card uk-card-default uk-margin">
			<div
				class="uk-card-header"
				id="server-settings"
			>
				<h3 class="uk-card-title">
					{{ 'configure-app.server-settings' | transloco }}
				</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select"
								>
									{{ 'configure-app.server-configuration' | transloco }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-which-server-is-used-to-communicate-with-the-nano')"
									></span>
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedServer"
										(change)="serverConfigChange(selectedServer)"
										id="form-horizontal-select"
									>
										@for (server of serverOptions; track server) {
											<option [value]="server.value">
												{{ server.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ 'configure-app.api-server' | transloco }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.this-server-is-used-for-rpc-communication-with-the-nano-node')"
										></span>
									</label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverAPI }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverAPI"
													class="uk-input uk-margin-small-bottom"
													type="text"
													placeholder="https://domain.com/path"
												/>
												<span class="uk-text-meta">
													{{ 'configure-app.this-has-to-be-a-valid-rpc.1' | transloco }}
													<a
														href="https://docs.nano.org/commands/rpc-protocol/"
														target="_blank"
														rel="noopener noreferrer"
													>
														{{ 'configure-app.this-has-to-be-a-valid-rpc.2-link-rpc' | transloco }}
													</a>
													{{ 'configure-app.this-has-to-be-a-valid-rpc.3' | transloco }}
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ 'configure-app.websocket-server' | transloco }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.this-server-is-used-to-notify-the-wallet-in-real-time-when')"
										></span
									></label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverWS }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverWS"
													class="uk-input uk-margin-small-bottom"
													id="form-horizontal-text2"
													type="text"
													placeholder="wss://domain.com/path"
												/>
												<span class="uk-text-meta">
													{{ 'configure-app.this-has-to-be-a-valid-websocket.1' | transloco }}
													<a
														href="https://docs.nano.org/integration-guides/websockets/#configuration"
														target="_blank"
														rel="noopener noreferrer"
													>
														{{ 'configure-app.this-has-to-be-a-valid-websocket.2-link-websocket' | transloco }}
													</a>
													{{ 'configure-app.this-has-to-be-a-valid-websocket.3' | transloco }}<br />
													<i>{{
														'configure-app.note-since-this-server-only-notifies-about-new-transactions' | transloco
													}}</i>
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ 'configure-app.authorization' | transloco }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.use-if-the-api-requires-authentication')"
										></span>
									</label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverAuth }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverAuth"
													class="uk-input uk-margin-small-bottom"
													type="text"
													placeholder="Optional"
												/>
												<span class="uk-text-meta">
													{{ 'configure-app.this-has-to-be-a-valid-authorization-header' | transloco }}<br />
													<i>{{ 'configure-app.for-example-using-basic-auth' | transloco }}</i>
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showStatValues() || showServerConfigs()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div>
									<label class="uk-form-label uk-text-right">
										{{ 'configure-app.node-stats' | transloco }}
										<span
											class="{{ statsRefreshEnabled ? '' : 'node-stats-disabled' }}"
											id="node-stats"
											uk-icon="icon: refresh;"
											(click)="updateNodeStats(true)"
											uk-tooltip
											[title]="t('configure-app.click-to-refresh')"
										></span>
									</label>
									<div class="uk-form-controls">
										<div class="uk-inline uk-width-1-1">
											<span class="uk-text-meta">
												<table id="node-stats-table">
													<tr>
														<td>
															<strong>{{ 'general.server' | transloco }}</strong>
														</td>
														<td>
															{{ serverAPIUpdated ? serverAPI : ('configure-app.save-settings-to-update' | transloco) }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.block-count' | transloco }}</strong>
														</td>
														<td>
															{{ nodeBlockCount || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.uncemented-blocks' | transloco }}</strong>
														</td>
														<td>
															{{ nodeUncemented || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.peers-stake-required' | transloco }}</strong>
														</td>
														<td>
															{{ peersStakeReq || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.peers-stake-total' | transloco }}</strong>
														</td>
														<td>
															{{ peersStakeTotal || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.node-version' | transloco }}</strong>
														</td>
														<td>
															{{ nodeVendor || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ 'general.network' | transloco }}</strong>
														</td>
														<td>
															{{ nodeNetwork || 'N/A' }}
														</td>
													</tr>
													@if (showServerValues() && !showServerConfigs()) {
														<tr>
															<td>
																<strong>{{ 'configure-app.random-server' | transloco }}</strong>
															</td>
															<td>
																{{ shouldRandom || ('general.no' | transloco) }}
															</td>
														</tr>
													}
												</table>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="uk-card-footer uk-text-right@s uk-text-center">
				<button
					(click)="updateServerSettings()"
					class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
				>
					{{ 'configure-app.update-server-settings' | transloco }}
				</button>
			</div>
		</div>
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">
					{{ 'configure-app.advanced-options' | transloco }}
				</h3>
			</div>
			<div class="uk-card-body uk-text-center">
				<div uk-grid>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearWorkCache()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-locally-cached-proof-of-work-values')"
						>
							{{ 'configure-app.clear-work-cache' | transloco }}
						</button>
					</div>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearWalletData()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-data-related-to-your-wallet-your-seed-a')"
						>
							{{ 'configure-app.delete-wallet-data' | transloco }}
						</button>
					</div>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearAllData()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-stored-data-and-reset-app-settings-incl')"
						>
							{{ 'configure-app.delete-all-data' | transloco }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
