<div
	class="uk-animation-slide-left-small"
	uk-grid
	*transloco="let t"
>
	<div class="uk-width-1-1">
		<h2 class="uk-heading-divider">{{ t('configure-app.configure-gnault') }}</h2>
		<!-- Display Settings -->
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">{{ t('configure-app.display-settings') }}</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="languageselector"
								>
									{{ t('configure-app.language') }}
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										(input)="onSelectInput(selectedLanguage, $event)"
										id="languageselector"
									>
										@for (language of languages(); track language.id) {
											<option
												[value]="language.id"
												[selected]="language.id === selectedLanguage()"
											>
												{{ language.label }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select-fiat-currency"
								>
									{{ t('configure-app.fiat-currency') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-the-currency-pair-used-when-showing-fiat-values')"
									></span>
								</label>
								<div class="uk-form-controls">
									<select
										id="form-horizontal-select-fiat-currency"
										class="uk-select"
										(change)="onSelectInput(selectedCurrency, $event)"
									>
										@for (currency of currencies(); track currency.value) {
											<option
												[value]="currency.value"
												[selected]="currency.value === selectedCurrency()"
											>
												{{ currency.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select-denomination"
								>
									{{ t('configure-app.denomination') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.denomination-tooltip')"
									></span>
								</label>
								<div class="uk-form-controls">
									<select
										id="form-horizontal-select-denomination"
										class="uk-select"
										(change)="onSelectInput(selectedDenomination, $event)"
									>
										@for (denomination of denominations(); track denomination.value) {
											<option
												[value]="denomination.value"
												[selected]="denomination.value === selectedDenomination()"
											>
												{{ denomination.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select-theme"
								>
									{{ t('configure-app.theme') }}
								</label>
								<div class="uk-form-controls">
									<select
										id="form-horizontal-select-theme"
										class="uk-select"
										(change)="onSelectInput(selectedTheme, $event)"
									>
										@for (theme of themes; track theme.value) {
											<option
												[value]="theme.value"
												[selected]="theme.value === selectedTheme()"
											>
												{{ theme.name() }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select-identicon"
								>
									{{ t('configure-app.identicons') }}
								</label>
								<div class="uk-form-controls">
									<select
										id="form-horizontal-select-identicon"
										class="uk-select"
										(change)="onSelectInput(selectedIdenticon, $event)"
									>
										@for (identicon of identicons; track identicon.value) {
											<option
												[value]="identicon.value"
												[selected]="identicon.value === selectedIdenticon()"
											>
												{{ identicon.name() }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Wallet Settings -->
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">{{ t('configure-app.wallet-settings') }}</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.lock-after-inactivity') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-if-your-wallet-should-be-locked-automatically-after')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											(change)="onSelectInput(selectedInactivityPeriod, $event)"
											[disabled]="!wallet"
										>
											@for (inactivityPeriod of inactivityPeriods; track inactivityPeriod.value) {
												<option
													[value]="inactivityPeriod.value"
													[selected]="inactivityPeriod.value === selectedInactivityPeriod()"
												>
													{{ inactivityPeriod.name() }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.storage.label') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.storage.tooltip')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											(change)="onSelectInput(selectedStorage, $event)"
										>
											@for (storage of storageOptions; track storage.value) {
												<option
													[value]="storage.value"
													[selected]="storage.value === selectedStorage()"
												>
													{{ t(storage.name) }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.pow-source') }}
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											(change)="onSelectInput(selectedPowSource, $event)"
										>
											@for (pow of powSources; track pow.value) {
												<option [value]="pow.value">
													@if (pow.value === 'server') {
														{{ getRemotePowOptionName() }}
													} @else {
														{{ pow.name() }}
													}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
							@if (selectedPowSource() === 'custom') {
								<div class="uk-margin">
									<label class="uk-form-label">
										{{ t('configure-app.work-server') }}
									</label>
									<div class="uk-form-controls">
										<input
											[(ngModel)]="customWorkServer"
											class="uk-input uk-margin-small-bottom"
											type="text"
											placeholder="http://my-work-server:port"
										/>
										<span class="uk-text-meta">
											{{ t('configure-app.this-has-to-be-a-valid-work.1') }}
											<a
												href="https://docs.nault.cc/2021/02/13/custom-work-server.html"
												target="_blank"
												rel="noopener noreferrer"
											>
												{{ t('configure-app.this-has-to-be-a-valid-work.2-link-work') }}
											</a>
											{{ t('configure-app.this-has-to-be-a-valid-work.3') }}
										</span>
									</div>
								</div>
							}
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.receive-method') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.if-automatically-receiving-incoming-transactions-with-the')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<select
											class="uk-select"
											(input)="onSelectInput(selectedReceivable, $event)"
										>
											@for (receivable of receivableOptions; track receivable.value) {
												<option [value]="receivable.value">
													{{ t(receivable.name) }}
												</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.min-receive-amount') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.minimum-nano-amount-to-receive-transactions-below-this')"
									></span>
									<span class="uk-margin-left half-muted">
										({{ minimumReceiveConverted() }} {{ settings.denomination }})
									</span>
								</label>
								<div class="uk-form-controls">
									<div uk-grid>
										<div class="uk-width-1-1">
											<div class="uk-inline uk-width-1-1">
												<label
													class="uk-form-icon uk-link-reset uk-link-muted"
													for="form-horizontal-amount"
												>
													<span class="xno">&#xE001;</span>
												</label>
												<input
													class="uk-input"
													style="padding-left: 52px !important"
													id="form-horizontal-text4"
													type="number"
													inputmode="numeric"
													pattern="\d+"
													[placeholder]="t('configure-app.leave-blank-to-accept-transactions-of-any-amount')"
													[value]="minimumReceive()"
													(blur)="onStringInput(minimumReceive, $event)"
													[disabled]="selectedReceivable() === 'manual'"
												/>
											</div>
										</div>
									</div>
								</div>
								<div class="uk-width-1-1"></div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label class="uk-form-label">
									{{ t('configure-app.default-representative') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.this-representative-will-be-used-for-any-new-account')"
									></span>
								</label>
								<div class="uk-form-controls">
									<div class="uk-inline uk-width-1-1">
										<a
											class="uk-form-icon uk-form-icon-flip"
											uk-icon="icon: camera"
											(click)="openQR('rep1', 'account')"
											uk-tooltip
											[title]="t('general.scan-qr-code')"
										></a>
										<input
											(blur)="validateRepresentative()"
											(input)="searchRepresentatives()"
											(focus)="searchRepresentatives()"
											[(ngModel)]="defaultRepresentative"
											class="uk-input"
											[ngClass]="{ 'uk-form-success': repStatus === 2, 'uk-form-danger': repStatus === 0 }"
											id="form-horizontal-text3"
											type="text"
											[placeholder]="t('configure-app.leave-blank-to-use-a-recommended-one')"
											#repInput
										/>
										@if ((representativeResults$ | async).length) {
											<div
												[hidden]="!showRepresentatives"
												class="nlt-dropdown uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute"
												style="z-index: 15000"
											>
												<ul class="uk-nav uk-nav-default">
													<li class="uk-nav-header">
														{{ t('representative-search.representative-list-results') }}
													</li>
													<li class="uk-nav-divider"></li>
													@for (rep of representativeResults$ | async; track rep) {
														<li>
															<a (click)="selectRepresentative(rep.id)">
																{{ rep.name }}
																@if (rep.trusted) {
																	<span
																		class="uk-text-success"
																		style="margin-left: 4px"
																		><span uk-icon="icon: star;"></span
																	></span>
																}
																@if (rep.warn) {
																	<span
																		class="uk-text-warning"
																		style="margin-left: 4px"
																	>
																		<span uk-icon="icon: warning;"></span>
																		{{ t('general.avoid') }}
																	</span>
																}
															</a>
														</li>
													}
												</ul>
											</div>
										}
									</div>
								</div>
								@if (representativeListMatch) {
									<div class="uk-form-controls">
										<div class="uk-inline uk-width-1-1 uk-margin-small-top">
											<span class="account-label rep">
												{{ representativeListMatch }}
											</span>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Server Settings -->
		<div class="uk-card uk-card-default uk-margin">
			<div
				class="uk-card-header"
				id="server-settings"
			>
				<h3 class="uk-card-title">
					{{ t('configure-app.server-settings') }}
				</h3>
			</div>
			<div class="uk-card-body">
				<div uk-grid>
					<div class="uk-width-1-1">
						<div class="uk-form-horizontal">
							<div class="uk-margin">
								<label
									class="uk-form-label"
									for="form-horizontal-select-server"
								>
									{{ t('configure-app.server-configuration') }}
									<span
										uk-icon="icon: info;"
										uk-tooltip
										[title]="t('configure-app.change-which-server-is-used-to-communicate-with-the-nano')"
									></span>
								</label>
								<div class="uk-form-controls">
									<select
										class="uk-select"
										[(ngModel)]="selectedServer"
										(change)="serverConfigChange(selectedServer)"
										id="form-horizontal-select-server"
									>
										@for (server of servers(); track server) {
											<option [value]="server.value">
												{{ server.name }}
											</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ t('configure-app.api-server') }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.this-server-is-used-for-rpc-communication-with-the-nano-node')"
										></span>
									</label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverAPI }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverAPI"
													class="uk-input uk-margin-small-bottom"
													type="text"
													placeholder="https://domain.com/path"
												/>
												<span class="uk-text-meta">
													{{ t('configure-app.this-has-to-be-a-valid-rpc.1') }}
													<a
														href="https://docs.nano.org/commands/rpc-protocol/"
														target="_blank"
														rel="noopener noreferrer"
													>
														{{ t('configure-app.this-has-to-be-a-valid-rpc.2-link-rpc') }}
													</a>
													{{ t('configure-app.this-has-to-be-a-valid-rpc.3') }}
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ t('configure-app.websocket-server') }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.this-server-is-used-to-notify-the-wallet-in-real-time-when')"
										></span
									></label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverWS }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverWS"
													class="uk-input uk-margin-small-bottom"
													id="form-horizontal-text2"
													type="text"
													placeholder="wss://domain.com/path"
												/>
												<span class="uk-text-meta">
													{{ t('configure-app.this-has-to-be-a-valid-websocket.1') }}
													<a
														href="https://docs.nano.org/integration-guides/websockets/#configuration"
														target="_blank"
														rel="noopener noreferrer"
													>
														{{ t('configure-app.this-has-to-be-a-valid-websocket.2-link-websocket') }}
													</a>
													{{ t('configure-app.this-has-to-be-a-valid-websocket.3') }}<br />
													<i>{{ t('configure-app.note-since-this-server-only-notifies-about-new-transactions') }}</i>
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showServerValues()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div class="">
									<label class="uk-form-label uk-text-right">
										{{ t('configure-app.authorization') }}
										<span
											uk-icon="icon: info;"
											uk-tooltip
											[title]="t('configure-app.use-if-the-api-requires-authentication')"
										></span>
									</label>
									<div class="uk-form-controls">
										@if (!showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<strong>{{ serverAuth }}</strong>
											</div>
										}
										@if (showServerConfigs()) {
											<div class="uk-inline uk-width-1-1">
												<input
													[(ngModel)]="serverAuth"
													class="uk-input uk-margin-small-bottom"
													type="text"
													placeholder="Optional"
												/>
												<span class="uk-text-meta">
													{{ t('configure-app.this-has-to-be-a-valid-authorization-header') }}<br />
													<i>{{ t('configure-app.for-example-using-basic-auth') }}</i>
												</span>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
					@if (showStatValues() || showServerConfigs()) {
						<div class="uk-width-1-1">
							<div class="uk-form-horizontal">
								<div>
									<label class="uk-form-label uk-text-right">
										{{ t('configure-app.node-stats') }}
										<span
											class="{{ statsRefreshEnabled ? '' : 'node-stats-disabled' }}"
											id="node-stats"
											uk-icon="icon: refresh;"
											(click)="updateNodeStats(true)"
											uk-tooltip
											[title]="t('configure-app.click-to-refresh')"
										></span>
									</label>
									<div class="uk-form-controls">
										<div class="uk-inline uk-width-1-1">
											<span class="uk-text-meta">
												<table id="node-stats-table">
													<tr>
														<td>
															<strong>{{ t('general.server') }}</strong>
														</td>
														<td>
															{{ serverAPIUpdated ? serverAPI : t('configure-app.save-settings-to-update') }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.block-count') }}</strong>
														</td>
														<td>
															{{ nodeBlockCount || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.uncemented-blocks') }}</strong>
														</td>
														<td>
															{{ nodeUncemented || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.peers-stake-required') }}</strong>
														</td>
														<td>
															{{ peersStakeReq || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.peers-stake-total') }}</strong>
														</td>
														<td>
															{{ peersStakeTotal || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.node-version') }}</strong>
														</td>
														<td>
															{{ nodeVendor || 'N/A' }}
														</td>
													</tr>
													<tr>
														<td>
															<strong>{{ t('general.network') }}</strong>
														</td>
														<td>
															{{ nodeNetwork || 'N/A' }}
														</td>
													</tr>
													@if (showServerValues() && !showServerConfigs()) {
														<tr>
															<td>
																<strong>{{ t('configure-app.random-server') }}</strong>
															</td>
															<td>
																{{ shouldRandom || t('general.no') }}
															</td>
														</tr>
													}
												</table>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="uk-card-footer uk-text-right@s uk-text-center">
				<button
					(click)="updateServerSettings()"
					class="uk-button uk-button-primary uk-width-auto@s uk-width-1-1"
				>
					{{ t('configure-app.update-server-settings') }}
				</button>
			</div>
		</div>
		<div class="uk-card uk-card-default uk-margin">
			<div class="uk-card-header">
				<h3 class="uk-card-title">{{ t('configure-app.advanced-options') }}</h3>
			</div>
			<div class="uk-card-body uk-text-center">
				<div uk-grid>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearWorkCache()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-locally-cached-proof-of-work-values')"
						>
							{{ t('configure-app.clear-work-cache') }}
						</button>
					</div>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearWalletData()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-data-related-to-your-wallet-your-seed-a')"
						>
							{{ t('configure-app.delete-wallet-data') }}
						</button>
					</div>
					<div class="uk-width-1-3@m">
						<button
							class="uk-button uk-button-danger"
							(click)="clearAllData()"
							uk-tooltip
							[title]="t('configure-app.this-will-delete-all-stored-data-and-reset-app-settings-incl')"
						>
							{{ t('configure-app.delete-all-data') }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
