<div
	class="uk-animation-slide-left-small"
	uk-grid
>
	<div
		class="uk-width-1-1"
		[class.add-whitespace-underneath]="walletAccount && showFullDetailsOnSmallViewports === false"
	>
		@if (walletAccount && showFullDetailsOnSmallViewports === false) {
			<div class="nano-card is-card">
				<div class="logo"></div>
				<div class="card-contents">
					<div class="account-name-container">
						<div class="name">
							{{ addressBookEntry ? addressBookEntry : ('general.account' | transloco) + ' #' + walletAccount.index }}
						</div>
						<div
							#selectButton
							class="select-button closed"
							(click)="mobileAccountMenuModal.show()"
						>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
					</div>
					<div class="account-balances">
						@if (!loadingAccountDetails) {
							<div class="balance-container primary">
								<div class="currency-name">XNO</div>
								<div class="amount-container">
									<div class="amount-integer">
										{{ !account ? 0 : (account.balance || 0 | rai: 'mnano,true' | amountsplit: 0) }}
									</div>
									<div class="amount-fractional">
										{{ !account ? 0 : (account.balance || 0 | rai: 'mnano,true' | amountsplit: 1) }}
									</div>
									@if (isBalanceUpdating && isConfigured) {
										<div class="amount-updating">
											<div uk-spinner="ratio: 0.5;"></div>
										</div>
									}
								</div>
							</div>
							@if (svcAppSettings.settings.displayCurrency) {
								<div class="balance-container converted">
									<div class="currency-name">
										<span class="estimate-symbol">~</span>{{ svcAppSettings.settings.displayCurrency }}
									</div>
									<div class="amount-container">
										<div class="amount-integer">
											{{ account.balance ?? 0 | fiat: svcAppSettings.settings.displayCurrency | amountsplit: 0 }}
										</div>
										<div class="amount-fractional">
											{{ account.balance ?? 0 | fiat: svcAppSettings.settings.displayCurrency | amountsplit: 1 }}
										</div>
									</div>
								</div>
							}
						} @else {
							<div class="spinner-container">
								<div uk-spinner="ratio: 0.6;"></div>
							</div>
						}
					</div>
				</div>
			</div>
		}
		<h2
			class="uk-heading-divider"
			[class.hide-on-small-viewports]="walletAccount && showFullDetailsOnSmallViewports === false"
		>
			{{
				walletAccount
					? ('account-details.account-details' | transloco)
					: ('account-details.network-explorer' | transloco)
			}}
		</h2>
		<div
			class="uk-card uk-card-default uk-margin"
			[class.hide-on-small-viewports]="walletAccount && showFullDetailsOnSmallViewports === false"
		>
			<div class="account-details-header uk-card-header uk-visible-toggle">
				<div uk-grid>
					@if (svcAppSettings.settings.identiconsStyle !== 'none') {
						<app-nano-identicon
							scale="12"
							[address]="address"
							[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
							class="nano-identicon"
						></app-nano-identicon>
					}
					<div class="uk-width-1-1 uk-width-expand@s">
						@if (walletAccount && (addressBookEntry || showEditAddressBook)) {
							<div
								class="account-type-label"
								[class.editing-name]="showEditAddressBook"
							>
								{{ ('general.account' | transloco) + ' #' + walletAccount.index }}
							</div>
						}
						@if (!walletAccount) {
							<div
								class="account-type-label"
								[class.editing-name]="showEditAddressBook"
							>
								{{ 'account-details.external-address' | transloco }}
							</div>
						}
						<div uk-grid>
							@if (showEditAddressBook) {
								<div class="uk-width-1-1">
									<div class="uk-margin">
										<div class="uk-inline uk-width-1-1">
											<a
												class="uk-form-icon uk-form-icon-flip uk-text-success"
												(click)="saveAddressBook()"
												uk-icon="icon: check"
												uk-tooltip
												[title]="'general.save' | transloco"
											></a>
											<a
												class="uk-form-icon uk-form-icon-flip uk-text-danger"
												style="margin-right: 26px"
												(click)="showEditAddressBook = false"
												uk-tooltip
												[title]="'general.cancel' | transloco"
												uk-icon="icon: close"
											></a>
											<input
												class="uk-input"
												(keyup.enter)="saveAddressBook()"
												[(ngModel)]="addressBookModel"
												[placeholder]="'account-details.address-book-name-leave-blank-to-remove' | transloco"
												type="text"
												style="padding-right: 60px"
												maxlength="64"
											/>
										</div>
									</div>
								</div>
							}
							@if (!showEditAddressBook) {
								<div class="uk-width-1-1">
									<div class="uk-width-1-1">
										<div uk-grid>
											<h3
												class="uk-width-auto uk-card-title uk-text-truncate"
												style="max-width: calc(100% - 35px)"
											>
												{{
													addressBookEntry
														? addressBookEntry
														: walletAccount
															? ('general.account' | transloco) + ' #' + walletAccount.index
															: ('account-details.no-label-set' | transloco)
												}}
											</h3>
											<div
												class="uk-width-auto"
												style="padding-left: 10px; margin-top: 3px"
											>
												<a style="display: contents"
													><span
														uk-icon="icon: pencil;"
														uk-tooltip
														(click)="showEditAddressBook = !showEditAddressBook"
														[title]="'general.edit' | transloco"
													></span
												></a>
											</div>
										</div>
									</div>
								</div>
							}
							<div class="uk-width-1-1 uk-margin-small-top">
								<div uk-grid>
									<div
										class="nano-address-monospace uk-width-auto uk-text-small uk-text-truncate"
										style="max-width: calc(100% - 60px)"
									>
										<app-nano-account-id [address]="address"></app-nano-account-id>
									</div>
									<div
										class="nano-address-actions uk-width-auto"
										style="margin-top: 0"
									>
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="address"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													[title]="'general.copy' | transloco"
													uk-tooltip
												></a>
											</li>
											<li>
												<a
													(click)="qrModal.show()"
													[title]="'general.show-qr-code' | transloco"
													uk-tooltip
													class="icon-qr-code"
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			@if (svcAppSettings.settings.serverAPI) {
				<div class="uk-card-header uk-form-horizontal uk-width-expand">
					<div uk-grid>
						<div class="representative-details uk-width-1-1@s uk-width-1-2@l">
							<div class="details-header">{{ 'general.representative' | transloco }}</div>
							@if (!loadingAccountDetails) {
								<div>
									@if (account && account.representative) {
										<div class="uk-width-auto uk-text-truncate">
											<div class="representative-label-container">
												<div class="account-label rep">{{ repLabel ? repLabel : ('general.unknown' | transloco) }}</div>
												@if (account && account.representative) {
													<div
														class="uk-width-auto uk-flex-inline uk-flex-middle"
														style="padding-left: 10px"
													>
														@if (repVotingWeight) {
															<div
																class="uk-text-small text-half-muted"
																style="margin-right: 15px"
															>
																{{ repVotingWeight.toFixed(2) }}%
															</div>
														}
														<ul class="uk-iconnav">
															@if (repDonationAddress) {
																<li>
																	<a
																		class="rep-donation-icon"
																		uk-icon="icon: heart;"
																		[title]="'account-details.donate-to-representative' | transloco"
																		uk-tooltip
																		routerLink="/send"
																		[queryParams]="{ to: repDonationAddress }"
																	></a>
																</li>
															}
															@if (walletAccount) {
																<li>
																	<a
																		uk-icon="icon: pencil;"
																		title="Change Representative"
																		uk-tooltip
																		routerLink="/representatives"
																		[queryParams]="{ hideOverview: true, showRecommended: true, accounts: address }"
																	></a>
																</li>
															}
														</ul>
													</div>
												}
											</div>
											<div
												class="nano-address-monospace"
												[title]="account.representative"
											>
												<app-nano-account-id
													[address]="account.representative.address"
													middle="off"
												></app-nano-account-id>
											</div>
										</div>
									} @else {
										<div
											class="uk-text-muted"
											style="margin-top: 8px"
										>
											{{ 'change-rep-widget.representative-none' | transloco }}
										</div>
									}
								</div>
							} @else {
								<div class="uk-margin-small-top">
									<div
										uk-spinner="ratio: 0.5;"
										style="vertical-align: 2px"
									></div>
								</div>
							}
						</div>
						<div class="balance-details uk-width-1-1@s uk-width-1-2@l">
							<div class="details-header">{{ 'general.balance' | transloco }}</div>
							@if (!loadingAccountDetails) {
								<div>
									<div class="account-amounts-primary">
										<div
											class="account-amounts-primary-confirmed"
											[title]="
												account && account.balanceRaw && account.balanceRaw > 0
													? '+' + account.balanceRaw.toString(10) + ' raw'
													: ''
											"
										>
											<span class="amount-currency-symbol xno-symbol"></span>
											<span class="amount-integer">{{
												account?.balance ?? 0 | rai: 'nano,true' | amountsplit: 0
											}}</span>
											<span class="amount-fractional">{{
												account?.balance ?? 0 | rai: 'nano,true' | amountsplit: 1
											}}</span>
										</div>
										@if (account && account.receivable && account.receivable > 0) {
											<div
												class="incoming-label"
												[title]="
													account && account.receivableRaw && account.receivableRaw > 0
														? '+' + account.receivableRaw.toString(10) + ' raw'
														: ''
												"
											>
												<div class="text-snippet">{{ 'general.new' | transloco }}</div>
												<div class="text-full">
													<div class="amount-sign">+</div>
													<div class="amount-currency-symbol xno-symbol"></div>
													<div class="amount-integer">
														{{ account.receivable | rai: 'mnano,true' | amountsplit: 0 }}
													</div>
													<div class="amount-fractional">
														{{ account.receivable | rai: 'mnano,true' | amountsplit: 1 }}
													</div>
												</div>
											</div>
										}
									</div>
								</div>
								<div class="account-amounts-converted text-half-muted">
									@if (account) {
										{{ account.balance ?? 0 | fiat: svcAppSettings.settings.displayCurrency }}
									}
								</div>
							} @else {
								<div class="uk-margin-small-top">
									<div
										uk-spinner="ratio: 0.5;"
										style="vertical-align: 2px"
									></div>
								</div>
							}
						</div>
					</div>
				</div>
			}
			@if (svcAppSettings.settings.serverAPI) {
				<div class="uk-card-header uk-form-horizontal">
					<div
						class="details-header advanced-options-link"
						(click)="showAdvancedOptions = !showAdvancedOptions"
					>
						{{ 'account-details.advanced-options' | transloco }}
						<div [class]="['chevron', showAdvancedOptions ? 'chevron-up' : 'chevron-down']"></div>
					</div>
					@if (showAdvancedOptions) {
						<div class="advanced-options">
							@if (account.confirmation_height != null && account.block_count != null && account.block_count > 0) {
								<div class="advanced-option">
									<div>
										<div>{{ 'account-details.confirmed-blocks' | transloco }}:</div>
										<div>{{ account.confirmation_height | number }} / {{ account.block_count | number }}</div>
										<div class="uk-text-small text-half-muted">
											{{ (account.confirmation_height / account.block_count) * 100 | number: '1.0-2' }}%
										</div>
									</div>
								</div>
							}
							<div class="advanced-option">
								<div>{{ 'account-details.enable-remote-signing-multisig' | transloco }}</div>
								<input
									class="uk-checkbox"
									type="checkbox"
									name="remoteVisible"
									value="1"
									[(ngModel)]="remoteVisible"
								/>
							</div>
						</div>
					}
				</div>
			}
			@if (remoteVisible) {
				<div class="uk-card-header uk-form-horizontal">
					<div class="details-header">{{ 'account-details.block-signing' | transloco }}</div>
					<p>Create a new SEND or CHANGE block below. For any incoming transaction in the list: Use SIGN BLOCK.</p>
					<button
						class="uk-button uk-button-primary"
						(click)="showRemoteModal()"
					>
						CREATE NEW BLOCK
					</button>
				</div>
			}
		</div>
		<div class="transactions-list-header uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-margin-small-bottom">
			<h3 class="uk-margin-remove-bottom">{{ 'account-details.transactions' | transloco }}</h3>
			<ul
				class="uk-width-auto uk-iconnav uk-margin-remove-left"
				style="margin-top: -1px"
			>
				<li>
					@if (loadingIncomingTxList || loadingTxList || loadingAccountDetails) {
						<div
							uk-spinner="ratio: 0.5;"
							class="icon-transactions-refresh spinner"
						></div>
					} @else {
						<a
							class="icon-transactions-refresh"
							[class.disabled]="!manualRefreshAllowed"
							[class.uk-text-muted]="!manualRefreshAllowed"
							uk-icon="icon: refresh;"
							[title]="'general.reload' | transloco"
							uk-tooltip
							(click)="onRefreshButtonClick()"
						></a>
					}
				</li>
			</ul>
		</div>
		<div class="uk-overflow-hidden">
			<div class="transactions-list-mobile only-on-small-viewports">
				@for (transaction of receivableBlocks; track $index) {
					<ng-container>
						<app-nano-transaction-mobile
							[transaction]="transaction"
							[isHidden]="transaction.received"
							[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
							(click)="showMobileMenuForTransaction(transaction)"
						></app-nano-transaction-mobile>
					</ng-container>
				}
				<!-- Don't show if "Loading transactions..." is already shown -->
				@if (loadingIncomingTxList && !loadingTxList && !loadingAccountDetails) {
					<div class="rounded-area">
						<div style="text-align: center">
							<span
								class="uk-margin-right"
								uk-spinner
							></span>
							{{ 'account-details.loading-incoming-transactions' | transloco }}
						</div>
					</div>
				}
				@for (transaction of accountHistory; let transactionIdx = $index; track transactionIdx) {
					<ng-container>
						@if (
							accountHistory[transactionIdx - 1] == null ||
							transaction.local_date_string !== accountHistory[transactionIdx - 1].local_date_string
						) {
							<div class="date-header text-half-muted">
								{{
									transaction.local_date_string === dateStringToday
										? 'Today'
										: transaction.local_date_string === dateStringYesterday
											? 'Yesterday'
											: transaction.local_date_string
								}}
							</div>
						}
						<app-nano-transaction-mobile
							[transaction]="transaction"
							[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
							(click)="showMobileMenuForTransaction(transaction)"
						></app-nano-transaction-mobile>
					</ng-container>
				}
				@if (loadingIncomingTxList || loadingTxList || loadingAccountDetails) {
					<div class="rounded-area">
						<div style="text-align: center">
							<span
								class="uk-margin-right"
								uk-spinner
							></span>
							{{ 'account-details.loading-transactions' | transloco }}
						</div>
					</div>
				} @else {
					@if (!accountHistory.length && !receivableBlocks.length) {
						<div class="rounded-area interactable">
							<div style="text-align: center">{{ 'account-details.no-transactions' | transloco }}</div>
						</div>
					}
					@if (accountHistory.length + 1 >= pageSize && pageSize <= maxPageSize) {
						<div
							class="rounded-area interactable more-results"
							(click)="loadMore()"
						>
							{{ 'general.show-more' | transloco }}<br />
							<div class="chevron chevron-down"></div>
						</div>
					}
				}
			</div>
			<table
				class="transactions-list hide-on-small-viewports uk-table uk-table-striped uk-table-small"
				style="margin-top: 0"
			>
				<thead>
					<tr>
						<th
							scope="col"
							class="type-column"
						></th>
						<th
							scope="col"
							class="account-column"
						>
							{{ 'general.account' | transloco }} / {{ 'general.block' | transloco }}
						</th>
						<th
							scope="col"
							class="amount-column"
						>
							{{ 'general.amount' | transloco }}
						</th>
						<th
							scope="col"
							class="date-column"
						>
							{{ 'general.date' | transloco }}
						</th>
					</tr>
				</thead>
				<tbody>
					@for (receivable of receivableBlocks; track $index) {
						<tr [class]="{ 'uk-text-muted': true, 'uk-hidden': receivable.received }">
							<td class="type-column">
								<span
									class="type uk-text-small"
									uk-icon="icon: plus-circle; ratio: 1.2;"
								></span>
							</td>
							<td class="account-column uk-visible-toggle uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap"
								>
									<div
										class="uk-width-auto uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<a
											[routerLink]="'/account/' + receivable.account"
											class="account-container uk-text-truncate"
											[title]="'general.view-details' | transloco"
											uk-tooltip
										>
											<div class="identicon-name-row uk-text-truncate">
												@if (svcAppSettings.settings.identiconsStyle !== 'none') {
													<app-nano-identicon
														scale="6"
														[address]="receivable.account"
														[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
														class="nano-identicon"
													></app-nano-identicon>
												}
												@if (receivable.addressBookName) {
													<div class="account-label uk-text-truncate">
														{{ receivable.addressBookName }}
													</div>
												}
											</div>
											<div class="nano-address-clickable nano-address-monospace uk-text-truncate">
												<app-nano-account-id
													[address]="receivable.account"
													middle="auto"
												></app-nano-account-id>
											</div>
										</a>
									</div>
									<div class="nano-address-actions uk-width-auto uk-flex uk-flex-bottom">
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="receivable.account"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													[title]="'general.copy' | transloco"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
								<a
									[routerLink]="'/transaction/' + receivable.hash"
									class="uk-link-text uk-text-small uk-text-muted uk-text-truncate block-hash block-hash-monospace"
									[title]="'general.view-details' | transloco"
									uk-tooltip
									>{{ receivable.hash }}</a
								>
							</td>
							<ng-template #transactionActionsOrDate>
								@if (walletAccount || remoteVisible) {
									@if (walletAccount) {
										<div class="button-container">
											@if (!receivable.loading) {
												<button
													class="uk-button uk-button-primary uk-text-center uk-width-auto"
													type="button"
													(click)="receiveReceivableBlock(receivable)"
												>
													RECEIVE
												</button>
											}
											@if (receivable.loading) {
												<button
													class="uk-button uk-button-secondary uk-disabled uk-button-small nlt-icon-button nlt-icon-button-inline"
												>
													<span
														class="spinner"
														uk-spinner="ratio: 0.5;"
													></span>
													Receiving
												</button>
											}
										</div>
									}
									@if (remoteVisible) {
										<div class="button-container">
											<button
												class="uk-button uk-button-primary uk-text-center uk-width-auto remote-sign"
												type="button"
												(click)="generateReceive(receivable.hash)"
											>
												SIGN BLOCK
											</button>
										</div>
									}
								} @else {
									<span
										class="transaction-date"
										[class.uk-text-muted]="!receivable.local_timestamp"
										[class.date-unknown]="!receivable.local_timestamp"
									>
										<span class="date">{{ receivable.local_date_string }}</span>
										<span class="time">{{ receivable.local_time_string }}</span>
									</span>
								}
							</ng-template>
							<td
								class="amount-column uk-text-middle uk-text-muted"
								[title]="
									'Incoming Transaction' +
									(receivable.amountRaw && receivable.amountRaw > 0
										? ', +' + receivable.amountRaw.toString(10) + ' raw'
										: '')
								"
							>
								<span class="uk-text-small">{{ 'general.blockactions.ready-to-receive' | transloco }}</span
								><br />
								<span class="amount-integer">{{ receivable.amount | rai: 'mnano,true' | amountsplit: 0 }}</span>
								<span class="amount-fractional">{{ receivable.amount | rai: 'mnano,true' | amountsplit: 1 }}</span>
								<span class="currency-name">XNO</span>
								<div class="compact-actions-date">
									<ng-template [ngTemplateOutlet]="transactionActionsOrDate"></ng-template>
								</div>
							</td>
							<td class="date-column uk-text-middle uk-text-truncate">
								<ng-template [ngTemplateOutlet]="transactionActionsOrDate"></ng-template>
							</td>
						</tr>
					}
					<!-- Don't show if "Loading transactions..." is already shown -->
					@if (loadingIncomingTxList && !loadingTxList && !loadingAccountDetails) {
						<tr>
							<td
								colspan="4"
								style="text-align: center"
							>
								<span
									class="uk-margin-right"
									uk-spinner
								></span>
								{{ 'account-details.loading-incoming-transactions' | transloco }}
							</td>
						</tr>
					}
					@for (history of accountHistory; track $index) {
						<tr>
							<td class="type-column">
								@if (history.type == 'receive' || history.subtype == 'receive' || history.type == 'open') {
									<span
										class="type uk-text-small uk-text-success"
										uk-icon="icon: plus-circle; ratio: 1.2;"
									></span>
								}
								@if (history.type == 'send' || history.subtype == 'send') {
									<span
										class="type uk-text-small uk-text-danger"
										uk-icon="icon: minus-circle; ratio: 1.2;"
									></span>
								}
								@if (history.type == 'change' || history.subtype == 'change') {
									<span
										class="type uk-text-small rep-change"
										uk-icon="icon: cog; ratio: 1.2;"
									></span>
								}
							</td>
							<td class="account-column uk-text-middle uk-visible-toggle uk-text-truncate">
								<div
									uk-grid
									class="uk-flex-nowrap"
								>
									<div
										class="uk-width-auto uk-text-truncate"
										style="max-width: calc(100% - 35px)"
									>
										<a
											[routerLink]="'/account/' + (history.link_as_account || history.account)"
											class="account-container uk-text-truncate"
											[title]="'general.view-details' | transloco"
											uk-tooltip
										>
											<div class="identicon-name-row uk-text-truncate">
												@if (svcAppSettings.settings.identiconsStyle !== 'none') {
													<app-nano-identicon
														scale="6"
														[address]="history.link_as_account || history.account"
														[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
														class="nano-identicon"
													></app-nano-identicon>
												}
												@if (history.addressBookName) {
													<div class="account-label uk-text-truncate">
														{{ history.addressBookName }}
													</div>
												}
											</div>
											<div class="nano-address-clickable nano-address-monospace uk-text-truncate">
												<app-nano-account-id
													[address]="history.link_as_account || history.account"
													middle="auto"
												></app-nano-account-id>
											</div>
										</a>
									</div>
									<div
										class="nano-address-actions uk-width-auto uk-flex uk-flex-bottom"
										style="margin-bottom: 11px !important; flex-shrink: 0"
									>
										<ul class="uk-iconnav">
											<li>
												<a
													ngxClipboard
													[cbContent]="history.link_as_account || history.account"
													(cbOnSuccess)="copied()"
													uk-icon="icon: copy"
													[title]="'general.copy' | transloco"
													uk-tooltip
												></a>
											</li>
										</ul>
									</div>
								</div>
								<a
									[routerLink]="'/transaction/' + history.hash"
									class="uk-link-text uk-text-small uk-text-muted uk-text-truncate block-hash block-hash-monospace"
									[title]="'general.view-details' | transloco"
									uk-tooltip
									>{{ history.hash }}</a
								>
							</td>
							<ng-template #transactionDateOrActions>
								<span
									class="transaction-date"
									[class.uk-text-muted]="!history.local_timestamp"
									[class.date-unknown]="!history.local_timestamp"
								>
									<span class="date">{{ history.local_date_string }}</span>
									<span class="time"> {{ history.local_time_string }}</span>
								</span>
								@if (history.confirmed === false) {
									<div class="label-unconfirmed">
										<div class="uk-text-small uk-text-muted">
											{{ 'account-details.awaiting-confirmation' | transloco }}
										</div>
									</div>
								}
							</ng-template>
							<td
								[ngClass]="{
									'amount-column': true,
									'uk-text-middle': true,
									'uk-text-success':
										history.type == 'receive' ||
										history.subtype == 'receive' ||
										history.type == 'open' ||
										history.subtype == 'open',
									'uk-text-danger': history.type == 'send' || history.subtype == 'send',
									'rep-change': history.type == 'change' || history.subtype == 'change',
								}"
							>
								@if (isNaN(history.amount)) {
									<span>
										<span
											class="uk-text-small"
											[class.text-half-muted]="history.confirmed === false"
											[title]="
												history.confirmed === false
													? ('account-details.this-change-has-not-yet-been-confirmed-by-the-network' | transloco)
													: ''
											"
											uk-tooltip
										>
											{{ 'general.blockactions.rep-change' | transloco }}
											@if (history.confirmed === false) {
												<span
													class="icon-unconfirmed"
													uk-icon="icon: clock;"
												></span>
											}
										</span>
									</span>
								}
								@if (!isNaN(history.amount)) {
									<span>
										@if (history.type == 'receive' || history.subtype == 'receive' || history.type == 'open') {
											<span
												class="uk-text-small"
												[class.text-half-muted]="history.confirmed === false"
												[title]="
													history.confirmed === false
														? ('account-details.this-transaction-has-not-yet-been-confirmed-by-the-network' | transloco)
														: ''
												"
												uk-tooltip
											>
												{{ 'general.blockactions.received' | transloco }}
												@if (history.confirmed === false) {
													<span
														class="icon-unconfirmed"
														uk-icon="icon: clock;"
													></span>
												}</span
											><br />
										}
										@if (history.type == 'send' || history.subtype == 'send') {
											<span
												class="uk-text-small"
												[class.text-half-muted]="history.confirmed === false"
												[title]="
													history.confirmed === false
														? ('account-details.this-transaction-has-not-yet-been-confirmed-by-the-network' | transloco)
														: ''
												"
												uk-tooltip
											>
												{{ 'general.blockactions.sent' | transloco }}
												@if (history.confirmed === false) {
													<span
														class="icon-unconfirmed"
														uk-icon="icon: clock;"
													></span>
												}</span
											><br />
										}
										<span class="amount-integer">{{ history.amount | rai: 'mnano,true' | amountsplit: 0 }}</span>
										<span class="amount-fractional">{{ history.amount | rai: 'mnano,true' | amountsplit: 1 }}</span>
										<span class="currency-name">XNO</span>
										<div class="compact-actions-date text-half-muted">
											<ng-template [ngTemplateOutlet]="transactionDateOrActions"></ng-template>
										</div>
									</span>
								}
							</td>
							<td class="date-column uk-text-middle uk-text-truncate">
								<ng-template [ngTemplateOutlet]="transactionDateOrActions"></ng-template>
							</td>
						</tr>
					}
					@if (loadingIncomingTxList || loadingTxList || loadingAccountDetails) {
						<tr>
							<td
								colspan="4"
								style="text-align: center"
							>
								<span
									class="uk-margin-right"
									uk-spinner
								></span>
								{{ 'account-details.loading-transactions' | transloco }}
							</td>
						</tr>
					} @else {
						@if (!accountHistory.length && !receivableBlocks.length) {
							<tr>
								<td
									colspan="4"
									style="text-align: center"
								>
									{{ 'account-details.no-transactions' | transloco }}
								</td>
							</tr>
						}
						@if (accountHistory.length + 1 >= pageSize && pageSize <= maxPageSize) {
							<tr>
								<td
									colspan="4"
									class="more-results"
								>
									<a
										(click)="loadMore()"
										class="uk-link-text"
									>
										{{ 'general.show-more' | transloco }}<br />
										<div class="chevron chevron-down"></div>
									</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal for remote receive incoming -->
<div
	class="modal-position-bottom"
	id="receive-modal"
	uk-modal
>
	<div class="uk-modal-dialog uk-modal-body modal-qr">
		<button
			class="uk-modal-close-default"
			type="button"
			uk-close
		></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Unsigned Incoming Block</h2>
		</div>
		<div class="uk-modal-body modal-qr-body">
			<a
				routerLink="/qr-scan"
				routerLinkActive="active"
				class="uk-modal-close"
				>Scan</a
			>
			the unsigned QR with an offline Gnault, or copy the "Unsigned Block" to
			<a
				routerLink="/remote-signing"
				routerLinkActive="active"
				class="uk-modal-close"
				>Step 2</a
			><br /><br />
			@if (blockHashReceive) {
				<div
					class="uk-width-1-1 uk-text-center uk-margin-small-bottom"
					style="display: flex; justify-content: center"
				>
					<span
						class="uk-text-small"
						uk-tooltip
						title="Unsigned block string to be copied to remote device"
						style="overflow-wrap: anywhere"
						><strong>Unsigned Block</strong></span
					>
					<ul
						class="uk-iconnav"
						style="padding-left: 0"
					>
						<li>
							<a
								ngxClipboard
								[cbContent]="qrString"
								(cbOnSuccess)="copied()"
								uk-icon="icon: copy"
								title="Copy"
								uk-tooltip
							></a>
						</li>
					</ul>
					<span
						class="uk-text-small"
						uk-tooltip
						title="Final block hash to be signed or verified"
						style="overflow-wrap: anywhere; margin-left: 50px"
						><strong>Block Hash</strong></span
					>
					<ul
						class="uk-iconnav"
						style="padding-left: 0"
					>
						<li>
							<a
								ngxClipboard
								[cbContent]="blockHashReceive"
								(cbOnSuccess)="copied()"
								uk-icon="icon: copy"
								title="Copy"
								uk-tooltip
							></a>
						</li>
					</ul>
				</div>
			}
			<div class="uk-width-1-1 uk-text-center">
				@if (qrCodeImageBlockReceive) {
					<img
						[src]="qrCodeImageBlockReceive"
						class="block-qr"
						alt="QR code"
					/>
				}
				<br />
			</div>
		</div>
	</div>
</div>
<!-- Modal for creating send and change block for remote signing-->
<div
	class="modal-position-bottom"
	id="block-modal"
	uk-modal
>
	<div class="uk-modal-dialog uk-modal-body modal-block">
		<button
			class="uk-modal-close-default"
			type="button"
			uk-close
		></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Create Block for Remote Signing</h2>
		</div>
		<div class="uk-modal-body modal-block-body">
			<ol>
				<li>Generate a nano block below. No wallet import needed.</li>
				<li>
					<a
						routerLink="/qr-scan"
						routerLinkActive="active"
						class="uk-modal-close"
						>Scan</a
					>
					the unsigned QR with an offline Gnault, or copy the "Unsigned Block" to
					<a
						routerLink="/remote-signing"
						routerLinkActive="active"
						class="uk-modal-close"
						>Step 2</a
					>.
				</li>
			</ol>
			<div class="uk-margin-small-bottom">
				<strong style="margin-right: 6px">Block Type</strong>
				<span
					uk-icon="icon: info;"
					uk-tooltip
					title="The block type to create for remote signing. Receiving can be done from the transactions list."
				></span>
			</div>
			<label class="uk-margin-medium-right"
				><input
					class="uk-radio"
					type="radio"
					name="blocktype"
					value="{{ blockTypes[0] }}"
					[(ngModel)]="blockTypeSelected"
				/>
				{{ blockTypes[0] }}</label
			>
			<label class="uk-margin-medium-right"
				><input
					class="uk-radio"
					type="radio"
					name="blocktype"
					value="{{ blockTypes[1] }}"
					[(ngModel)]="blockTypeSelected"
				/>
				{{ blockTypes[1] }}</label
			>
			<br /><br />
			@if (blockTypeSelected === blockTypes[0]) {
				<div class="uk-form-horizontal">
					<div class="uk-margin">
						<label
							class="uk-form-label"
							for="form-horizontal-text2"
							>To Account</label
						>
						<div class="uk-form-controls">
							<div class="form-input-destination uk-inline uk-width-1-1">
								<a
									class="uk-form-icon uk-form-icon-flip"
									uk-icon="icon: camera"
									(click)="openQR('account1', 'account')"
									uk-tooltip
									title="Scan from QR code"
								></a>
								<input
									(blur)="validateDestination()"
									(input)="searchAddressBook()"
									(focus)="searchAddressBook()"
									[(ngModel)]="toAccountID"
									[ngClass]="{ 'uk-form-success': toAccountStatus === 2, 'uk-form-danger': toAccountStatus === 0 }"
									class="uk-input"
									id="form-horizontal-text2"
									type="text"
									placeholder="Account to send to"
									autocomplete="off"
								/>
								@if ((addressBookResults$ | async).length) {
									<div
										[hidden]="!showAddressBook"
										class="uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute"
										style="z-index: 15000"
									>
										<ul class="uk-nav uk-nav-default">
											<li class="uk-nav-header">Address Book Results</li>
											<li class="uk-nav-divider"></li>
											@for (book of addressBookResults$ | async; track $index) {
												<li>
													<a (click)="selectBookEntry(book.account)">{{ book.name }}</a>
												</li>
											}
										</ul>
									</div>
								}
							</div>
						</div>
						@if (addressBookMatch) {
							<div class="uk-form-controls">
								<div class="uk-inline uk-width-1-1">
									<span class="account-label blue uk-margin-small-top">{{ addressBookMatch }}</span>
								</div>
							</div>
						}
					</div>
					<div uk-grid>
						<div class="uk-width-1-1">
							<label
								class="uk-form-label"
								for="form-horizontal-text"
								>Amount</label
							>
							<div class="form-amount uk-form-controls">
								<div uk-grid>
									<div class="uk-width-1-1">
										<div class="uk-inline uk-width-1-1">
											<a
												class="uk-form-icon uk-form-icon-flip form-icon-btn"
												(click)="setMaxAmount()"
												style="padding-right: 7px"
												uk-tooltip
												title="Set Maximum Amount"
												>Max</a
											>
											<input
												[(ngModel)]="amount"
												[ngClass]="{ 'uk-form-danger': amountStatus === 0 }"
												class="uk-input"
												id="form-horizontal-text"
												(input)="syncFiatPrice()"
												type="text"
												placeholder="Amount of XNO to send"
												maxlength="40"
											/>
										</div>
										@if (amountRaw > 0) {
											<div class="uk-width-1-1 uk-width-3-5@m uk-text-small uk-text-muted uk-margin-remove">
												<span
													uk-tooltip
													title="Additional raw to send"
													>+{{ amountRaw.toString(10) }} raw</span
												>
												&nbsp;
												<a
													class="uk-text-danger"
													(click)="resetRaw()"
													uk-tooltip
													title="Remove the additional raw amount from the total amount"
													uk-icon="icon: close"
												></a>
											</div>
										}
										@if (svcAppSettings.settings.displayCurrency) {
											<div
												class="uk-width-1-1"
												style="margin-top: 10px"
											>
												<div class="uk-width-1-1 uk-inline">
													<a
														class="uk-form-icon uk-link-reset uk-link-muted"
														style="padding-left: 7px"
														uk-tooltip
														title="Last Price: {{
															svcPrice.oneNano | fiat: svcAppSettings.settings.displayCurrency
														}} / XNO"
														>{{ svcAppSettings.settings.displayCurrency | currencySymbol }}</a
													>
													<input
														[(ngModel)]="amountFiat"
														(input)="syncNanoPrice()"
														style="padding-left: 50px !important"
														class="uk-input"
														id="form-horizontal-text-fiat"
														type="text"
														placeholder="Amount of {{ svcAppSettings.settings.displayCurrency }} to send"
													/>
												</div>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			@if (blockTypeSelected === blockTypes[1]) {
				<div class="uk-form-horizontal">
					<div class="uk-margin">
						<label
							class="uk-form-label"
							for="form-horizontal-text3"
							>Representative</label
						>
						<div class="uk-form-controls">
							<div class="form-input-destination uk-inline uk-width-1-1">
								<a
									class="uk-form-icon uk-form-icon-flip"
									uk-icon="icon: camera"
									(click)="openQR('rep1', 'account')"
									uk-tooltip
									title="Scan from QR code"
								></a>
								<input
									(blur)="validateRepresentative()"
									(input)="searchRepresentatives()"
									(focus)="searchRepresentatives()"
									(keyup.enter)="generateChange()"
									[(ngModel)]="representativeModel"
									class="uk-input"
									[ngClass]="{ 'uk-form-success': repStatus === 2, 'uk-form-danger': repStatus === 0 }"
									id="form-horizontal-text3"
									type="text"
									placeholder="nano_abc...123"
									#repInput
								/>
								@if ((representativeResults$ | async).length) {
									<div
										[hidden]="!showRepresentatives"
										class="nlt-dropdown uk-animation-slide-down-small uk-width-1-1 uk-card uk-card-default uk-card-body uk-position-absolute"
										style="z-index: 15000"
									>
										<ul class="uk-nav uk-nav-default">
											<li class="uk-nav-header">Representative List Results</li>
											<li class="uk-nav-divider"></li>
											@for (rep of representativeResults$ | async; track $index) {
												<li>
													<a (click)="selectRepresentative(rep.id)">
														{{ rep.name }}
														@if (rep.trusted) {
															<span
																class="uk-text-success"
																style="margin-left: 4px"
																><span uk-icon="icon: star;"></span
															></span>
														}
														@if (rep.warn) {
															<span
																class="uk-text-warning"
																style="margin-left: 4px"
																><span uk-icon="icon: warning;"></span> Avoid</span
															>
														}
													</a>
												</li>
											}
										</ul>
									</div>
								}
							</div>
						</div>
						@if (representativeListMatch) {
							<div class="uk-form-controls">
								<div class="uk-inline uk-width-1-1 uk-margin-small-top">
									<span class="account-label rep">{{ representativeListMatch }}</span>
								</div>
							</div>
						}
					</div>
				</div>
			}
			<br />
			@if (blockTypeSelected === blockTypes[0]) {
				<button
					class="uk-button uk-button-primary uk-text-center uk-width-1-1"
					type="button"
					style="margin-bottom: 20px"
					(click)="generateSend()"
				>
					Generate Send Block
				</button>
			}
			@if (blockTypeSelected === blockTypes[1]) {
				<button
					class="uk-button uk-button-primary uk-text-center uk-width-1-1"
					type="button"
					style="margin-bottom: 20px"
					(click)="generateChange()"
				>
					Generate Change Block
				</button>
			}
			@if (blockHash) {
				<div
					class="uk-width-1-1 uk-text-center"
					style="display: flex; justify-content: center"
				>
					<span
						class="uk-text-small"
						uk-tooltip
						title="Unsigned block string to be copied to remote device"
						style="overflow-wrap: anywhere"
						><strong>Unsigned Block</strong></span
					>
					<ul
						class="uk-iconnav"
						style="padding-left: 0"
					>
						<li>
							<a
								ngxClipboard
								[cbContent]="qrString"
								(cbOnSuccess)="copied()"
								uk-icon="icon: copy"
								title="Copy"
								uk-tooltip
							></a>
						</li>
					</ul>
					<span
						class="uk-text-small"
						uk-tooltip
						title="Final block hash to be signed or verified"
						style="overflow-wrap: anywhere; margin-left: 50px"
						><strong>Block Hash</strong></span
					>
					<ul
						class="uk-iconnav"
						style="padding-left: 0"
					>
						<li>
							<a
								ngxClipboard
								[cbContent]="blockHash"
								(cbOnSuccess)="copied()"
								uk-icon="icon: copy"
								title="Copy"
								uk-tooltip
							></a>
						</li>
					</ul>
				</div>
			}
			<div class="uk-width-1-1 uk-text-center uk-margin-small-top">
				@if (qrCodeImageBlock) {
					<img
						[src]="qrCodeImageBlock"
						class="block-qr"
						alt="QR code"
					/>
				}
				<br />
			</div>
		</div>
	</div>
</div>
@if (walletAccount && showFullDetailsOnSmallViewports === false) {
	<div class="mobile-actions-fixed">
		<div class="actions-area">
			<button routerLink="/receive">{{ 'nav.receive' | transloco }}</button>
			<button routerLink="/send">{{ 'nav.send' | transloco }}</button>
		</div>
	</div>
}
<div
	class="modal-position-bottom"
	id="qr-code-modal"
	uk-modal
>
	<div class="uk-modal-dialog uk-margin-auto-vertical">
		<button
			class="uk-modal-close-default"
			type="button"
			uk-close
		></button>
		<div class="uk-modal-body">
			<div class="uk-width-1-1 uk-text-center">
				@if (qrCodeImage) {
					<img
						[src]="qrCodeImage"
						class="qr-code"
					/>
				} @else {
					<div class="qr-code-placeholder uk-align-center">
						<div uk-spinner="ratio: 2;"></div>
					</div>
				}
				<hr />
				<div class="account-label uk-margin-small-bottom">
					{{
						addressBookEntry
							? addressBookEntry
							: walletAccount
								? ('general.account' | transloco) + ' #' + walletAccount.index
								: ('account-details.external-address' | transloco)
					}}
				</div>
				<div class="uk-width-1-1">
					<div
						uk-grid
						class="uk-flex uk-flex-center"
					>
						<span class="nano-address-monospace uk-width-auto">
							<app-nano-account-id
								[address]="address"
								middle="off"
							></app-nano-account-id>
						</span>
						<span
							class="nano-address-actions uk-width-auto"
							style="vertical-align: 1px"
						>
							<ul class="uk-iconnav">
								<li>
									<a
										ngxClipboard
										[cbContent]="address"
										(cbOnSuccess)="copied()"
										uk-icon="icon: copy"
										[title]="'general.copy' | transloco"
										uk-tooltip
									></a>
								</li>
							</ul>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="modal-position-bottom"
	id="mobile-account-menu-modal"
	uk-modal
>
	<div class="uk-modal-dialog">
		<div class="uk-modal-body">
			<div class="uk-width-1-1">
				<h3 class="menu-header">
					{{
						addressBookEntry
							? addressBookEntry
							: walletAccount
								? ('general.account' | transloco) + ' #' + walletAccount.index
								: ('account-details.external-address' | transloco)
					}}
				</h3>
				<hr />
				<div
					class="menu-option"
					[routerLink]="`/account/${address}`"
					(click)="mobileAccountMenuModal.hide()"
				>
					<span
						class="icon"
						uk-icon="icon: cog; ratio: 1.3;"
						style="vertical-align: 2px"
					></span>
					<span>View account details</span>
				</div>
				<div
					class="menu-option"
					routerLink="/accounts"
					(click)="mobileAccountMenuModal.hide()"
				>
					<span
						class="icon icon-leave"
						uk-icon="icon: sign-out; ratio: 1.4;"
					></span>
					<span>Select a different account</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="modal-position-bottom"
	id="mobile-transaction-menu-modal"
	uk-modal
>
	<div class="uk-modal-dialog">
		<div class="uk-modal-body">
			<div class="transactions-list-mobile">
				@if (mobileTransactionData) {
					<app-nano-transaction-mobile
						[isInteractable]="false"
						[transaction]="mobileTransactionData"
						[settingIdenticonsStyle]="svcAppSettings.settings.identiconsStyle"
					></app-nano-transaction-mobile>
				}
			</div>
			@if (mobileTransactionData) {
				<div class="uk-width-1-1">
					<hr />
					@if (mobileTransactionData.isReceivable === true) {
						@if (walletAccount) {
							<div
								class="menu-option uk-text-success"
								(click)="onReceiveFundsPress(mobileTransactionData)"
							>
								@if (!mobileTransactionData.received) {
									<span
										class="icon icon-download"
										uk-icon="icon: download; ratio: 1.5;"
										style="vertical-align: 2px"
									></span>
								}
								@if (!mobileTransactionData.received && !mobileTransactionData.loading) {
									<span>Receive funds</span>
								}
								@if (!mobileTransactionData.received && mobileTransactionData.loading) {
									<span>Receiving...</span>
								}
								@if (mobileTransactionData.received) {
									<span
										class="icon"
										uk-icon="icon: check; ratio: 1.3;"
										style="vertical-align: 2px"
									></span>
								}
								@if (mobileTransactionData.received) {
									<span>Received!</span>
								}
							</div>
						}
						@if (remoteVisible) {
							<div
								class="menu-option"
								(click)="mobileTransactionMenuModal.hide(); generateReceive(mobileTransactionData.hash)"
							>
								<span
									class="icon"
									uk-icon="icon: pencil; ratio: 1.3;"
									style="vertical-align: 2px"
								></span>
								<span>Sign block</span>
							</div>
						}
					}
					@if (mobileTransactionData.isReceivable !== true) {
						@if (
							walletAccount &&
							!isNaN(mobileTransactionData.amount) &&
							(mobileTransactionData.type === 'receive' ||
								mobileTransactionData.subtype === 'receive' ||
								mobileTransactionData.type === 'open')
						) {
							<div
								class="menu-option"
								routerLink="/send"
								[queryParams]="{
									to: mobileTransactionData.account,
									amount: svcUtil.nano.rawToMnano(mobileTransactionData.amount),
								}"
								(click)="mobileTransactionMenuModal.hide()"
							>
								<span
									class="icon"
									uk-icon="icon: reply; ratio: 1.3;"
									style="vertical-align: 2px"
								></span>
								<span>{{ 'account-details.send-funds-back' | transloco }}</span>
							</div>
						}
						<div
							class="menu-option"
							ngxClipboard
							[cbContent]="mobileTransactionData.hash"
							(cbOnSuccess)="mobileTransactionMenuModal.hide(); copied()"
						>
							<span
								class="icon icon-copy"
								uk-icon="icon: copy; ratio: 1.5;"
								style="vertical-align: 2px"
							>
								<span class="icon-inner">#</span>
							</span>
							<span>{{ 'account-details.copy-transaction-id' | transloco }}</span>
						</div>
						<div
							class="menu-option"
							ngxClipboard
							[cbContent]="mobileTransactionData.link_as_account || mobileTransactionData.account"
							(cbOnSuccess)="mobileTransactionMenuModal.hide(); copied()"
						>
							<span
								class="icon icon-copy"
								uk-icon="icon: copy; ratio: 1.5;"
								style="vertical-align: 2px"
							>
								<span
									class="icon-inner icon-user"
									uk-icon="icon: user; ratio: 0.6;"
								></span>
							</span>
							@if (isNaN(mobileTransactionData.amount)) {
								<span>{{ 'account-details.copy-representatives-address' | transloco }}</span>
							}
							@if (!isNaN(mobileTransactionData.amount)) {
								@if (
									mobileTransactionData.type === 'receive' ||
									mobileTransactionData.subtype === 'receive' ||
									mobileTransactionData.type === 'open'
								) {
									<span>{{ 'account-details.copy-senders-address' | transloco }}</span>
								}
								@if (mobileTransactionData.type === 'send' || mobileTransactionData.subtype === 'send') {
									<span>{{ 'account-details.copy-recipients-address' | transloco }}</span>
								}
							}
						</div>
					}
					<div
						class="menu-option"
						[routerLink]="'/transaction/' + mobileTransactionData.hash"
						(click)="mobileTransactionMenuModal.hide()"
					>
						<span
							class="icon"
							uk-icon="icon: search; ratio: 1.3;"
							style="vertical-align: 2px"
						></span>
						<span>{{ 'account-details.view-transaction-details' | transloco }}</span>
					</div>
				</div>
			}
		</div>
	</div>
</div>
