<div
	#dialog
	class="modal-position-bottom"
	id="set-password-dialog-component"
	uk-modal
>
	<div class="uk-modal-dialog">
		<button
			class="uk-modal-close-default"
			type="button"
			uk-close
		></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">{{ 'configure-wallet.set-wallet-password.set-wallet-password' | transloco }}</h2>
		</div>
		<div class="uk-modal-body">
			<form class="uk-grid">
				<input
					autocomplete="username"
					hidden="true"
					type="text"
				/>
				<div class="uk-width-1-2">
					<input
						#newPasswordInput
						type="password"
						name="newPasswordInput"
						[(ngModel)]="newPassword"
						autocomplete="new-password"
						minlength="6"
						autofocus
						class="form-control password-input uk-input"
						[placeholder]="'Enter new password'"
						(input)="isTooShort = false; isNotMatch = false"
						(keyup.enter)="update()"
					/>
				</div>
				<div class="uk-width-1-2">
					<input
						#confirmPasswordInput
						type="password"
						name="confirmPasswordInput"
						[(ngModel)]="confirmPassword"
						autocomplete="new-password"
						minlength="6"
						autofocus
						class="form-control password-input uk-input"
						[placeholder]="'Confirm password'"
						[disabled]="newPassword.length < 1"
						(input)="isTooShort = false; isNotMatch = false"
						(keyup.enter)="update()"
					/>
				</div>
				@if (isTooShort) {
					<span class="password-hint">
						{{
							'configure-wallet.set-wallet-password.errors.password-must-be-at-least-x-characters-long'
								| transloco: { minLength: 6 }
						}}
					</span>
				} @else if (isNotMatch) {
					<span class="password-hint">
						{{ 'configure-wallet.set-wallet-password.errors.passwords-do-not-match' | transloco }}
					</span>
				}
			</form>
		</div>
		<div class="uk-modal-footer uk-text-right nlt-button-group">
			<button
				class="uk-button uk-button-default uk-modal-close"
				type="button"
			>
				{{ 'general.cancel' | transloco }}
			</button>
			<button
				class="uk-button uk-button-primary"
				type="button"
				(click)="update()"
				[disabled]="newPassword.length < 1 || confirmPassword.length < 1"
			>
				{{ 'general.update' | transloco }}
			</button>
		</div>
	</div>
</div>
