@if (!isHidden) {
	<div
		class="rounded-area transaction"
		[class.interactable]="isInteractable"
		[class.identicons-enabled]="settingIdenticonsStyle !== 'none'"
	>
		<div
			class="column type-identicon"
			[class.identicons-enabled]="settingIdenticonsStyle !== 'none'"
		>
			@switch (true) {
				@case (settingIdenticonsStyle !== 'none') {
					<div class="type-identicon-combined">
						<app-nano-identicon
							scale="6"
							[accountID]="transaction.link_as_account || transaction.account"
							[settingIdenticonsStyle]="settingIdenticonsStyle"
							class="nano-identicon"
						></app-nano-identicon>
						@switch (true) {
							@case (isReceivableTransaction) {
								<span class="type-icon-container uk-text-muted">
									<div class="type-icon plus">
										<div class="vertical-line"></div>
										<div class="horizontal-line"></div>
									</div>
								</span>
							}
							@case (isRepresentativeChange) {
								<span class="type-icon-container rep-change">
									<div class="type-icon cog">
										<div class="square rotated"></div>
									</div>
								</span>
							}
							@case (isSendTransaction) {
								<span class="type-icon-container uk-text-danger">
									<div class="type-icon minus">
										<div class="horizontal-line"></div>
									</div>
								</span>
							}
							@case (isReceiveTransaction) {
								<span class="type-icon-container uk-text-success">
									<div class="type-icon plus">
										<div class="vertical-line"></div>
										<div class="horizontal-line"></div>
									</div>
								</span>
							}
						}
					</div>
				}
				@default {
					@switch (true) {
						@case (isReceivableTransaction) {
							<span
								class="type-icon uk-text-small uk-text-muted"
								uk-icon="icon: plus-circle; ratio: 1.2;"
							></span>
						}
						@case (isRepresentativeChange) {
							<span
								class="type-icon uk-text-small rep-change"
								uk-icon="icon: cog; ratio: 1.2;"
							></span>
						}
						@case (isSendTransaction) {
							<span
								class="type-icon uk-text-small uk-text-danger"
								uk-icon="icon: minus-circle; ratio: 1.2;"
							></span>
						}
						@case (isReceiveTransaction) {
							<span
								class="type-icon uk-text-small uk-text-success"
								uk-icon="icon: plus-circle; ratio: 1.2;"
							></span>
						}
					}
				}
			}
		</div>
		<div
			class="column action-amount"
			[class.text-half-muted]="transaction.confirmed === false || isReceivableTransaction"
			[class.rep-change]="transaction.confirmed !== false && isRepresentativeChange"
			[class.uk-text-danger]="transaction.confirmed !== false && isSendTransaction"
			[class.uk-text-success]="transaction.confirmed !== false && isReceiveTransaction"
		>
			<ng-template #unconfirmedIcon>
				@if (transaction.confirmed === false) {
					<span
						class="icon-unconfirmed"
						uk-icon="icon: clock;"
					></span>
				}
			</ng-template>
			@switch (true) {
				@case (isReceivableTransaction) {
					<div class="action">{{ 'general.blockactions.ready-to-receive' | transloco }}</div>
				}
				@case (isRepresentativeChange) {
					<div class="action">
						{{ 'general.blockactions.rep-change' | transloco
						}}<ng-template [ngTemplateOutlet]="unconfirmedIcon"></ng-template>
					</div>
				}
				@case (isSendTransaction) {
					<div class="action">
						{{ 'general.blockactions.sent' | transloco
						}}<ng-template [ngTemplateOutlet]="unconfirmedIcon"></ng-template>
					</div>
				}
				@case (isReceiveTransaction) {
					<div class="action">
						{{ 'general.blockactions.received' | transloco
						}}<ng-template [ngTemplateOutlet]="unconfirmedIcon"></ng-template>
					</div>
				}
				@default {
					<div class="action">
						{{ 'general.blockactions.unknown-action' | transloco
						}}<ng-template [ngTemplateOutlet]="unconfirmedIcon"></ng-template>
					</div>
				}
			}
			@if (isReceivableTransaction || isSendTransaction || isReceiveTransaction) {
				<div class="amount">
					<span class="amount-integer">{{ transaction.amount | rai: 'mnano,true' | amountsplit: 0 }}</span>
					<span class="amount-fractional">{{ transaction.amount | rai: 'mnano,true' | amountsplit: 1 }}</span>
					<span class="currency-name">XNO</span>
				</div>
			}
		</div>
		<div class="column account-date uk-text-truncate">
			@switch (true) {
				@case (!!transaction.addressBookName) {
					<div class="account uk-text-truncate">{{ transaction.addressBookName }}</div>
				}
				@default {
					<div class="account uk-text-truncate">
						<div class="nano-address-monospace">
							<app-nano-account-id
								[accountID]="transaction.link_as_account || transaction.account"
								middle="off"
							></app-nano-account-id>
						</div>
					</div>
				}
			}
			@switch (true) {
				@case (transaction.confirmed === false) {
					<div class="date text-half-muted">unconfirmed</div>
				}
				@default {
					@if (transaction.local_time_string !== '') {
						<div class="date text-half-muted">{{ transaction.local_time_string }}</div>
					}
				}
			}
		</div>
	</div>
}
