/* OpenDyslexic-Bold-Italic */
@font-face {
	font-family: 'OpenDyslexic-Bold-Italic';
	font-style: italic;
	font-weight: bold;
	font-display: block;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Bold-Italic.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
}

/* OpenDyslexic-Bold */
@font-face {
	font-family: 'OpenDyslexic-Bold';
	font-style: normal;
	font-weight: bold;
	font-display: block;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Bold.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/OpenDyslexic-Bold.otf') format('opentype');
}

/* OpenDyslexic-Italic */
@font-face {
	font-family: 'OpenDyslexic-Italic';
	font-style: italic;
	font-weight: normal;
	font-display: block;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Italic.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/OpenDyslexic-Italic.otf') format('opentype');
}

/* OpenDyslexic-Regular */
@font-face {
	font-family: 'OpenDyslexic-Regular';
	font-style: normal;
	font-weight: normal;
	font-display: block;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/OpenDyslexic-Regular.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

/* open-sans-300 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/open-sans-v20-latin-300.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/open-sans-v20-latin-300.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/open-sans-v20-latin-300.ttf') format('truetype');
}

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/open-sans-v20-latin-regular.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/open-sans-v20-latin-regular.ttf') format('truetype');
}

/* montserrat-300 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-300.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-300.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/montserrat-v15-latin-300.ttf') format('truetype');
}

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-regular.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/montserrat-v15-latin-regular.ttf') format('truetype');
}

/* montserrat-500 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-500.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-500.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/montserrat-v15-latin-500.ttf') format('truetype');
}

/* montserrat-700 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/montserrat-v15-latin-700.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/montserrat-v15-latin-700.ttf') format('truetype');
}

/* roboto-mono-regular - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		/* Super Modern Browsers */
		url('../../assets/fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('../../assets/fonts/roboto-mono-v13-latin-regular.woff') format('woff'),
		/* Safari, Android, iOS */
		url('../../assets/fonts/roboto-mono-v13-latin-regular.ttf') format('truetype');
}
