:host {
	height: 100%;
	max-height: 100%;
}

svg {
	height: 100%;
	width: 100%;
}

text {
	fill: #ffffffff;
	font-family: monospace;
	mix-blend-mode: difference;
}

.new-wallet-seed {
	word-wrap: anywhere;
}

pre.mnemonic {
	white-space: pre-wrap;
}

pre.mnemonic:before {
	counter-reset: listing;
}

pre.mnemonic span.mnemonic-word {
	counter-increment: listing;
}

pre.mnemonic span.mnemonic-word::before {
	content: counter(listing) '. ';
	display: inline-block;
	/* doesn't work */
	width: 8em;
	/* doesn't work */
	padding-left: auto;
	/* doesn't work */
	margin-left: auto;
	/* doesn't work */
	text-align: right;
}

.mne-box {
	border: 1px solid #ffffff33;
	border-spacing: 0;
	border-collapse: collapse;
	color: #ccc;
	margin: 0;
	margin-bottom: 1rem;
	mix-blend-mode: difference;
	padding: 0.5rem;
	text-align: left;
	width: 100%;
}

.mne-row {
	border: 0;
	display: table-row;
}

.mne-cell {
	border-bottom: 1px dashed #ffffff33;
	display: table-cell;
	font-family: monospace;
	padding: 0.5rem;
}

.mne-num {
	color: #ffffff66;
	mix-blend-mode: difference;
	display: inline-block;
	width: 20%;
	/* iOS Safari */
	-webkit-touch-callout: none;
	/* Safari */
	-webkit-user-select: none;
	/* Konqueror HTML */
	-khtml-user-select: none;
	/* Firefox */
	-moz-user-select: none;
	/* Internet Explorer/Edge */
	-ms-user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
	user-select: none;
}

.mne-word {
	color: #ffffffff;
	display: inline-block;
	mix-blend-mode: difference;
	width: 80%;
}

.landing-container > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
}

.landing-container > div > .wallet-option {
	display: flex;
	width: 200px;
	height: 300px;
	border-radius: 10px;
	padding: 15px 20px;
	margin: 20px;
	flex-direction: column;
	text-align: left;
	cursor: pointer;
	transition: background 100ms ease-in-out;
}

.landing-container > div > .wallet-option:hover > .icon {
	transform: scale(1.1);
}
.landing-container > div > .wallet-option:hover > .icon > svg {
	color: #fff;
}
.landing-container > div > .wallet-option:hover > .icon > .mnemonic > .mnemonic-row {
	border-bottom-color: rgba(255, 255, 255, 0.4);
}

.landing-container > div > .wallet-option > .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 155px;
	height: 120px;
	margin-bottom: 10px;
	transition: transform 200ms ease-in-out;
}

.landing-container > div > .wallet-option > .icon > .seed {
	font-family: 'xno-symbol', 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 0;
	line-height: 1.2;
	font-size: 24px;
	font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > .more-options {
	font-family: 'xno-symbol', 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 0;
	line-height: 1.2;
	font-size: 36px;
	font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row {
	min-width: 110px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 7px;
	margin-left: -10px;
	padding-bottom: 1px;
}
.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row > .number {
	width: 10px;
	text-align: right;
	font-family: 'xno-symbol', 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 0;
	margin-bottom: 2px;
	margin-right: 5px;
	line-height: 1.2;
	font-size: 11px;
	font-weight: 300;
}
.landing-container > div > .wallet-option > .icon > .mnemonic > .mnemonic-row > .word {
	font-family: 'xno-symbol', 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 0;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 300;
}

.landing-container > div > .wallet-option > .icon > svg * {
	stroke: currentcolor;
}

.landing-container > div > .wallet-option > h2 {
	margin: 0;
	font-weight: 400;
	line-height: 1.2;
	font-size: 28px;
	margin-bottom: 15px;
}
.landing-container > div > .wallet-option > h2.long-header {
	margin-top: 3px;
	font-size: 17px;
	font-weight: 500;
}

.landing-container > div > .wallet-option > p {
	font-family: 'xno-symbol', 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 0;
	line-height: 1.2;
	font-size: 17px;
}

.import-panel-navigation {
	display: inline-flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	margin: 10px 20px 20px 20px;
}
.import-panel-navigation .label {
	margin-top: -2px;
	transition: border-color 100ms ease-in-out;
	margin-left: 5px;
}
